/*
This file is used to contain all abstracts imports.
Files inside this folder can contain abstract settings, helpers or functions. They have no direct output.
*/
/*
The Box Model: Margin box > Border box > Padding box > Element box

//m - for classes that set margin
//p - for classes that set padding
//blank - for classes that set a margin or padding on all 4 sides of the element

//t - for classes that set margin-top or padding-top
//b - for classes that set margin-bottom or padding-bottom
//s - for classes that set margin-left or padding-left in LTR, margin-right or padding-right in RTL
//e - for classes that set margin-right or padding-right in LTR, margin-left or padding-left in RTL

//x - for classes that set both *-left and *-right
//y - for classes that set both *-top and *-bottom

*/
/*@formatter:off*/
/*@formatter:on*/
/*@formatter:off*/
/*@formatter:on*/
.Rounded {
  border-radius: 0.25rem !important;
}

.Rounded-t {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.Rounded-r {
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.Rounded-b {
  border-bottom-left-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.Rounded-l {
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.Rounded-tr {
  border-top-right-radius: 0.25rem !important;
}

.Rounded-br {
  border-bottom-right-radius: 0.25rem !important;
}

.Rounded-bl {
  border-bottom-left-radius: 0.25rem !important;
}

.Rounded-tl {
  border-top-left-radius: 0.25rem !important;
}

.Rounded-tl-br {
  border-top-left-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}

.Rounded-bl-tr {
  border-bottom-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}

.Rounded-2x {
  border-radius: 0.5rem !important;
}

.Rounded-t-2x {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.Rounded-r-2x {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.Rounded-b-2x {
  border-bottom-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.Rounded-l-2x {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.Rounded-tr-2x {
  border-top-right-radius: 0.5rem !important;
}

.Rounded-br-2x {
  border-bottom-right-radius: 0.5rem !important;
}

.Rounded-bl-2x {
  border-bottom-left-radius: 0.5rem !important;
}

.Rounded-tl-2x {
  border-top-left-radius: 0.5rem !important;
}

.Rounded-tl-br-2x {
  border-top-left-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.Rounded-bl-tr-2x {
  border-bottom-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.Rounded-3x {
  border-radius: 0.75rem !important;
}

.Rounded-t-3x {
  border-top-left-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
}

.Rounded-r-3x {
  border-top-right-radius: 0.75rem !important;
  border-bottom-right-radius: 0.75rem !important;
}

.Rounded-b-3x {
  border-bottom-left-radius: 0.75rem !important;
  border-bottom-right-radius: 0.75rem !important;
}

.Rounded-l-3x {
  border-top-left-radius: 0.75rem !important;
  border-bottom-left-radius: 0.75rem !important;
}

.Rounded-tr-3x {
  border-top-right-radius: 0.75rem !important;
}

.Rounded-br-3x {
  border-bottom-right-radius: 0.75rem !important;
}

.Rounded-bl-3x {
  border-bottom-left-radius: 0.75rem !important;
}

.Rounded-tl-3x {
  border-top-left-radius: 0.75rem !important;
}

.Rounded-tl-br-3x {
  border-top-left-radius: 0.75rem !important;
  border-bottom-right-radius: 0.75rem !important;
}

.Rounded-bl-tr-3x {
  border-bottom-left-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
}

/* Prevent background color leak outs */
.Rounded-clarify {
  -moz-background-clip: border;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}

.Rounded-circle {
  border-radius: 50% !important;
}

.Rounded-pill {
  border-radius: 50rem !important;
}

.text-White {
  color: white !important;
}

.text-Dark {
  color: #1d1d1d !important;
}

.bg-Red {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(0deg, 100%, calc(52% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Lime {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(120deg, 100%, calc(47% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Blue {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(212deg, 86%, calc(56% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Yellow {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(60deg, 99%, calc(60% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Cyan {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(180deg, 100%, calc(47% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Magenta {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(324deg, 100%, calc(50% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Purple {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(305deg, 38%, calc(36% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Green {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(120deg, 100%, calc(32% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Maroon {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(0deg, 100%, calc(27% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Navy {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(240deg, 64%, calc(27% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Teal {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(174deg, 100%, calc(29% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Olive {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(60deg, 100%, calc(26% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Orange {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(41deg, 79%, calc(50% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Pink {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(340deg, 82%, calc(52% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Brown {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(16deg, 25%, calc(38% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Indigo {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(231deg, 48%, calc(48% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-White {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(0deg, 0%, calc(100% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Silver {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(0deg, 0%, calc(75% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Gray {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(0deg, 0%, calc(50% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Primary {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(221deg, 44%, calc(41% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Secondary {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(204deg, 11%, calc(45% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Success {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(136deg, 53%, calc(43% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Info {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(200deg, 100%, calc(47% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Warning {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(45deg, 97%, calc(50% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Danger {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(17deg, 93%, calc(52% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Light {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(0deg, 0%, calc(97% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Dark {
  --bg-Lightness: 1;
  --bg-Alpha: 1;
  background-color: hsla(0deg, 0%, calc(11% * var(--bg-Lightness, 1)), var(--bg-Alpha, 1)) !important;
}

.bg-Red-100 {
  background-color: #ffcece !important;
}

.bg-Red-200 {
  background-color: #ff9e9e !important;
}

.bg-Red-300 {
  background-color: #ff6d6d !important;
}

.bg-Red-400 {
  background-color: #ff3d3d !important;
}

.bg-Red-500 {
  background-color: #ff0c0c !important;
}

.bg-Red-600 {
  background-color: #cc0a0a !important;
}

.bg-Red-700 {
  background-color: #990707 !important;
}

.bg-Red-800 {
  background-color: #660505 !important;
}

.bg-Red-900 {
  background-color: #330202 !important;
}

.bg-Lime-100 {
  background-color: #ccfccc !important;
}

.bg-Lime-200 {
  background-color: #99f899 !important;
}

.bg-Lime-300 {
  background-color: #66f566 !important;
}

.bg-Lime-400 {
  background-color: #33f133 !important;
}

.bg-Lime-500 {
  background-color: #00ee00 !important;
}

.bg-Lime-600 {
  background-color: #00be00 !important;
}

.bg-Lime-700 {
  background-color: #008f00 !important;
}

.bg-Lime-800 {
  background-color: #005f00 !important;
}

.bg-Lime-900 {
  background-color: #003000 !important;
}

.bg-Blue-100 {
  background-color: #d5e7fc !important;
}

.bg-Blue-200 {
  background-color: #abd0f9 !important;
}

.bg-Blue-300 {
  background-color: #81b8f5 !important;
}

.bg-Blue-400 {
  background-color: #57a1f2 !important;
}

.bg-Blue-500 {
  background-color: #2d89ef !important;
}

.bg-Blue-600 {
  background-color: #246ebf !important;
}

.bg-Blue-700 {
  background-color: #1b528f !important;
}

.bg-Blue-800 {
  background-color: #123760 !important;
}

.bg-Blue-900 {
  background-color: #091b30 !important;
}

.bg-Yellow-100 {
  background-color: #ffffd6 !important;
}

.bg-Yellow-200 {
  background-color: #ffffad !important;
}

.bg-Yellow-300 {
  background-color: #fefe85 !important;
}

.bg-Yellow-400 {
  background-color: #fefe5c !important;
}

.bg-Yellow-500 {
  background-color: #fefe33 !important;
}

.bg-Yellow-600 {
  background-color: #cbcb29 !important;
}

.bg-Yellow-700 {
  background-color: #98981f !important;
}

.bg-Yellow-800 {
  background-color: #666614 !important;
}

.bg-Yellow-900 {
  background-color: #33330a !important;
}

.bg-Cyan-100 {
  background-color: #ccfcfc !important;
}

.bg-Cyan-200 {
  background-color: #99f9f9 !important;
}

.bg-Cyan-300 {
  background-color: #66f6f6 !important;
}

.bg-Cyan-400 {
  background-color: #33f3f3 !important;
}

.bg-Cyan-500 {
  background-color: #00f0f0 !important;
}

.bg-Cyan-600 {
  background-color: #00c0c0 !important;
}

.bg-Cyan-700 {
  background-color: #009090 !important;
}

.bg-Cyan-800 {
  background-color: #006060 !important;
}

.bg-Cyan-900 {
  background-color: #003030 !important;
}

.bg-Magenta-100 {
  background-color: #ffccea !important;
}

.bg-Magenta-200 {
  background-color: #ff99d5 !important;
}

.bg-Magenta-300 {
  background-color: #ff66c1 !important;
}

.bg-Magenta-400 {
  background-color: #ff33ac !important;
}

.bg-Magenta-500 {
  background-color: #ff0097 !important;
}

.bg-Magenta-600 {
  background-color: #cc0079 !important;
}

.bg-Magenta-700 {
  background-color: #99005b !important;
}

.bg-Magenta-800 {
  background-color: #66003c !important;
}

.bg-Magenta-900 {
  background-color: #33001e !important;
}

.bg-Purple-100 {
  background-color: #e5d7e4 !important;
}

.bg-Purple-200 {
  background-color: #cbafc9 !important;
}

.bg-Purple-300 {
  background-color: #b288ae !important;
}

.bg-Purple-400 {
  background-color: #986093 !important;
}

.bg-Purple-500 {
  background-color: #7e3878 !important;
}

.bg-Purple-600 {
  background-color: #652d60 !important;
}

.bg-Purple-700 {
  background-color: #4c2248 !important;
}

.bg-Purple-800 {
  background-color: #321630 !important;
}

.bg-Purple-900 {
  background-color: #190b18 !important;
}

.bg-Green-100 {
  background-color: #ccedcc !important;
}

.bg-Green-200 {
  background-color: #99da99 !important;
}

.bg-Green-300 {
  background-color: #66c866 !important;
}

.bg-Green-400 {
  background-color: #33b533 !important;
}

.bg-Green-500 {
  background-color: #00a300 !important;
}

.bg-Green-600 {
  background-color: #008200 !important;
}

.bg-Green-700 {
  background-color: #006200 !important;
}

.bg-Green-800 {
  background-color: #004100 !important;
}

.bg-Green-900 {
  background-color: #002100 !important;
}

.bg-Maroon-100 {
  background-color: #e8cccc !important;
}

.bg-Maroon-200 {
  background-color: #d19999 !important;
}

.bg-Maroon-300 {
  background-color: #b96666 !important;
}

.bg-Maroon-400 {
  background-color: #a23333 !important;
}

.bg-Maroon-500 {
  background-color: #8b0000 !important;
}

.bg-Maroon-600 {
  background-color: #6f0000 !important;
}

.bg-Maroon-700 {
  background-color: #530000 !important;
}

.bg-Maroon-800 {
  background-color: #380000 !important;
}

.bg-Maroon-900 {
  background-color: #1c0000 !important;
}

.bg-Navy-100 {
  background-color: #d1d1e2 !important;
}

.bg-Navy-200 {
  background-color: #a3a3c6 !important;
}

.bg-Navy-300 {
  background-color: #7575a9 !important;
}

.bg-Navy-400 {
  background-color: #47478d !important;
}

.bg-Navy-500 {
  background-color: #191970 !important;
}

.bg-Navy-600 {
  background-color: #14145a !important;
}

.bg-Navy-700 {
  background-color: #0f0f43 !important;
}

.bg-Navy-800 {
  background-color: #0a0a2d !important;
}

.bg-Navy-900 {
  background-color: #050516 !important;
}

.bg-Teal-100 {
  background-color: #cceae7 !important;
}

.bg-Teal-200 {
  background-color: #99d5cf !important;
}

.bg-Teal-300 {
  background-color: #66c0b8 !important;
}

.bg-Teal-400 {
  background-color: #33aba0 !important;
}

.bg-Teal-500 {
  background-color: #009688 !important;
}

.bg-Teal-600 {
  background-color: #00786d !important;
}

.bg-Teal-700 {
  background-color: #005a52 !important;
}

.bg-Teal-800 {
  background-color: #003c36 !important;
}

.bg-Teal-900 {
  background-color: #001e1b !important;
}

.bg-Olive-100 {
  background-color: #e7e7cc !important;
}

.bg-Olive-200 {
  background-color: #cece99 !important;
}

.bg-Olive-300 {
  background-color: #b6b666 !important;
}

.bg-Olive-400 {
  background-color: #9d9d33 !important;
}

.bg-Olive-500 {
  background-color: #858500 !important;
}

.bg-Olive-600 {
  background-color: #6a6a00 !important;
}

.bg-Olive-700 {
  background-color: #505000 !important;
}

.bg-Olive-800 {
  background-color: #353500 !important;
}

.bg-Olive-900 {
  background-color: #1b1b00 !important;
}

.bg-Orange-100 {
  background-color: #f9ecd1 !important;
}

.bg-Orange-200 {
  background-color: #f4daa3 !important;
}

.bg-Orange-300 {
  background-color: #eec776 !important;
}

.bg-Orange-400 {
  background-color: #e9b548 !important;
}

.bg-Orange-500 {
  background-color: #e3a21a !important;
}

.bg-Orange-600 {
  background-color: #b68215 !important;
}

.bg-Orange-700 {
  background-color: #886110 !important;
}

.bg-Orange-800 {
  background-color: #5b410a !important;
}

.bg-Orange-900 {
  background-color: #2d2005 !important;
}

.bg-Pink-100 {
  background-color: #fbd2e0 !important;
}

.bg-Pink-200 {
  background-color: #f6a5c1 !important;
}

.bg-Pink-300 {
  background-color: #f278a1 !important;
}

.bg-Pink-400 {
  background-color: #ed4b82 !important;
}

.bg-Pink-500 {
  background-color: #e91e63 !important;
}

.bg-Pink-600 {
  background-color: #ba184f !important;
}

.bg-Pink-700 {
  background-color: #8c123b !important;
}

.bg-Pink-800 {
  background-color: #5d0c28 !important;
}

.bg-Pink-900 {
  background-color: #2f0614 !important;
}

.bg-Brown-100 {
  background-color: #e4ddda !important;
}

.bg-Brown-200 {
  background-color: #c9bbb6 !important;
}

.bg-Brown-300 {
  background-color: #af9991 !important;
}

.bg-Brown-400 {
  background-color: #94776d !important;
}

.bg-Brown-500 {
  background-color: #795548 !important;
}

.bg-Brown-600 {
  background-color: #61443a !important;
}

.bg-Brown-700 {
  background-color: #49332b !important;
}

.bg-Brown-800 {
  background-color: #30221d !important;
}

.bg-Brown-900 {
  background-color: #18110e !important;
}

.bg-Indigo-100 {
  background-color: #d9dcf0 !important;
}

.bg-Indigo-200 {
  background-color: #b2b9e1 !important;
}

.bg-Indigo-300 {
  background-color: #8c97d3 !important;
}

.bg-Indigo-400 {
  background-color: #6574c4 !important;
}

.bg-Indigo-500 {
  background-color: #3f51b5 !important;
}

.bg-Indigo-600 {
  background-color: #324191 !important;
}

.bg-Indigo-700 {
  background-color: #26316d !important;
}

.bg-Indigo-800 {
  background-color: #192048 !important;
}

.bg-Indigo-900 {
  background-color: #0d1024 !important;
}

.bg-White-100 {
  background-color: white !important;
}

.bg-White-200 {
  background-color: white !important;
}

.bg-White-300 {
  background-color: white !important;
}

.bg-White-400 {
  background-color: white !important;
}

.bg-White-500 {
  background-color: white !important;
}

.bg-White-600 {
  background-color: #cccccc !important;
}

.bg-White-700 {
  background-color: #999999 !important;
}

.bg-White-800 {
  background-color: #666666 !important;
}

.bg-White-900 {
  background-color: #333333 !important;
}

.bg-Silver-100 {
  background-color: #f2f2f2 !important;
}

.bg-Silver-200 {
  background-color: #e6e6e6 !important;
}

.bg-Silver-300 {
  background-color: #d9d9d9 !important;
}

.bg-Silver-400 {
  background-color: #cdcdcd !important;
}

.bg-Silver-500 {
  background-color: silver !important;
}

.bg-Silver-600 {
  background-color: #9a9a9a !important;
}

.bg-Silver-700 {
  background-color: #737373 !important;
}

.bg-Silver-800 {
  background-color: #4d4d4d !important;
}

.bg-Silver-900 {
  background-color: #262626 !important;
}

.bg-Gray-100 {
  background-color: #e6e6e6 !important;
}

.bg-Gray-200 {
  background-color: #cccccc !important;
}

.bg-Gray-300 {
  background-color: #b3b3b3 !important;
}

.bg-Gray-400 {
  background-color: #999999 !important;
}

.bg-Gray-500 {
  background-color: gray !important;
}

.bg-Gray-600 {
  background-color: #666666 !important;
}

.bg-Gray-700 {
  background-color: #4d4d4d !important;
}

.bg-Gray-800 {
  background-color: #333333 !important;
}

.bg-Gray-900 {
  background-color: #1a1a1a !important;
}

.Opacity-0 {
  opacity: 0 !important;
}

.Opacity-10 {
  opacity: 0.1 !important;
}

.Opacity-20 {
  opacity: 0.2 !important;
}

.Opacity-30 {
  opacity: 0.3 !important;
}

.Opacity-40 {
  opacity: 0.4 !important;
}

.Opacity-50 {
  opacity: 0.5 !important;
}

.Opacity-60 {
  opacity: 0.6 !important;
}

.Opacity-70 {
  opacity: 0.7 !important;
}

.Opacity-80 {
  opacity: 0.8 !important;
}

.Opacity-90 {
  opacity: 0.9 !important;
}

.Opacity-100 {
  opacity: 1 !important;
}

.bg-Alpha-0 {
  --bg-Alpha: 0;
}

.bg-Alpha-5 {
  --bg-Alpha: 0.05;
}

.bg-Alpha-10 {
  --bg-Alpha: 0.1;
}

.bg-Alpha-20 {
  --bg-Alpha: 0.2;
}

.bg-Alpha-30 {
  --bg-Alpha: 0.3;
}

.bg-Alpha-40 {
  --bg-Alpha: 0.4;
}

.bg-Alpha-50 {
  --bg-Alpha: 0.5;
}

.bg-Alpha-60 {
  --bg-Alpha: 0.6;
}

.bg-Alpha-70 {
  --bg-Alpha: 0.7;
}

.bg-Alpha-80 {
  --bg-Alpha: 0.8;
}

.bg-Alpha-90 {
  --bg-Alpha: 0.9;
}

.bg-Alpha-100 {
  --bg-Alpha: 1;
}

.bg-Lighten-1 {
  --bg-Lighten: 1;
  --bg-Lightness: 1.2;
}

.bg-Lighten-2 {
  --bg-Lighten: 1;
  --bg-Lightness: 1.4;
}

.bg-Lighten-3 {
  --bg-Lighten: 1;
  --bg-Lightness: 1.6;
}

.bg-Lighten-4 {
  --bg-Lighten: 1;
  --bg-Lightness: 1.8;
}

.bg-Lighten-5 {
  --bg-Lighten: 1;
  --bg-Lightness: 1.9;
}

.bg-Darken-1 {
  --bg-Lightness: 0.8;
}

.bg-Darken-2 {
  --bg-Lightness: 0.6;
}

.bg-Darken-3 {
  --bg-Lightness: 0.4;
}

.bg-Darken-4 {
  --bg-Lightness: 0.3;
}

.bg-Darken-5 {
  --bg-Lightness: 0.2;
}

.bg-Transparent {
  background-color: transparent !important;
}

.scrollbar-Light::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

.scrollbar-Light::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background-clip: padding-box;
  border: 0.2rem solid transparent;
  background: rgba(33, 40, 50, 0.2);
}

.scrollbar-Light::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.scrollbar-Light::-webkit-scrollbar-corner {
  background-color: transparent;
}

.scrollbar-Light::-webkit-scrollbar-track {
  background: inherit;
}

.scrollbar-Light {
  scrollbar-face-color: rgba(33, 40, 50, 0.2);
  scrollbar-track-color: inherit;
}

.scrollbar-Dark::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

.scrollbar-Dark::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background-clip: padding-box;
  border: 0.2rem solid transparent;
  background: rgba(255, 255, 255, 0.25);
}

.scrollbar-Dark::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.scrollbar-Dark::-webkit-scrollbar-corner {
  background-color: transparent;
}

.scrollbar-Dark::-webkit-scrollbar-track {
  background: inherit;
}

.scrollbar-Dark {
  scrollbar-face-color: rgba(255, 255, 255, 0.25);
  scrollbar-track-color: inherit;
}

/*
  https://brumm.af/shadows
  https://tobiasahlin.com/blog/layered-smooth-box-shadows/
  https://css-tricks.com/getting-deep-into-shadows/
*/
.Shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.09), 0 8px 8px 0 rgba(0, 0, 0, 0.06), 0 16px 16px 0 rgba(0, 0, 0, 0.03);
}

.Shadow-inner {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.09) inset, 0 0 8px 0 rgba(0, 0, 0, 0.06) inset, 0 0 16px 0 rgba(0, 0, 0, 0.03) inset;
}

.Shadow-both {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.09), 0 0 2px 0 rgba(0, 0, 0, 0.09) inset, 0 8px 8px 0 rgba(0, 0, 0, 0.06), 0 0 8px 0 rgba(0, 0, 0, 0.06) inset, 0 16px 16px 0 rgba(0, 0, 0, 0.03), 0 0 16px 0 rgba(0, 0, 0, 0.03) inset;
}

.Shadow-br {
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.09), 8px 8px 8px 0 rgba(0, 0, 0, 0.06), 16px 16px 16px 0 rgba(0, 0, 0, 0.03);
}

.Shadow-t {
  box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.09), 0 -8px 8px -8px rgba(0, 0, 0, 0.06), 0 -16px 16px -16px rgba(0, 0, 0, 0.03);
}

.Shadow-r {
  box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.09), 8px 0 8px -8px rgba(0, 0, 0, 0.06), 16px 0 16px -16px rgba(0, 0, 0, 0.03);
}

.Shadow-l {
  box-shadow: -2px 0 2px -2px rgba(0, 0, 0, 0.09), -8px 0 8px -8px rgba(0, 0, 0, 0.06), -16px 0 16px -16px rgba(0, 0, 0, 0.03);
}

.Shadow-b {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.09), 0 8px 8px -8px rgba(0, 0, 0, 0.06), 0 16px 16px -16px rgba(0, 0, 0, 0.03);
}

.Shadow-x {
  box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.09), -2px 0 2px -2px rgba(0, 0, 0, 0.09), 8px 0 8px -8px rgba(0, 0, 0, 0.06), -8px 0 8px -8px rgba(0, 0, 0, 0.06), 16px 0 16px -16px rgba(0, 0, 0, 0.03), -16px 0 16px -16px rgba(0, 0, 0, 0.03);
}

.Shadow-y {
  box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.09), 0 2px 2px -2px rgba(0, 0, 0, 0.09), 0 -8px 8px -8px rgba(0, 0, 0, 0.06), 0 8px 8px -8px rgba(0, 0, 0, 0.06), 0 -16px 16px -16px rgba(0, 0, 0, 0.03), 0 16px 16px -16px rgba(0, 0, 0, 0.03);
}

.Shadow-2x {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 16px 16px 0 rgba(0, 0, 0, 0.04);
}

.Shadow-inner-2x {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16) inset, 0 0 8px 0 rgba(0, 0, 0, 0.08) inset, 0 0 16px 0 rgba(0, 0, 0, 0.04) inset;
}

.Shadow-both-2x {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 2px 0 rgba(0, 0, 0, 0.16) inset, 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 0 8px 0 rgba(0, 0, 0, 0.08) inset, 0 16px 16px 0 rgba(0, 0, 0, 0.04), 0 0 16px 0 rgba(0, 0, 0, 0.04) inset;
}

.Shadow-br-2x {
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16), 8px 8px 8px 0 rgba(0, 0, 0, 0.08), 16px 16px 16px 0 rgba(0, 0, 0, 0.04);
}

.Shadow-t-2x {
  box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.16), 0 -8px 8px -8px rgba(0, 0, 0, 0.08), 0 -16px 16px -16px rgba(0, 0, 0, 0.04);
}

.Shadow-r-2x {
  box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.16), 8px 0 8px -8px rgba(0, 0, 0, 0.08), 16px 0 16px -16px rgba(0, 0, 0, 0.04);
}

.Shadow-l-2x {
  box-shadow: -2px 0 2px -2px rgba(0, 0, 0, 0.16), -8px 0 8px -8px rgba(0, 0, 0, 0.08), -16px 0 16px -16px rgba(0, 0, 0, 0.04);
}

.Shadow-b-2x {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.16), 0 8px 8px -8px rgba(0, 0, 0, 0.08), 0 16px 16px -16px rgba(0, 0, 0, 0.04);
}

.Shadow-x-2x {
  box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.16), -2px 0 2px -2px rgba(0, 0, 0, 0.16), 8px 0 8px -8px rgba(0, 0, 0, 0.08), -8px 0 8px -8px rgba(0, 0, 0, 0.08), 16px 0 16px -16px rgba(0, 0, 0, 0.04), -16px 0 16px -16px rgba(0, 0, 0, 0.04);
}

.Shadow-y-2x {
  box-shadow: 0 -2px 2px -2px rgba(0, 0, 0, 0.16), 0 2px 2px -2px rgba(0, 0, 0, 0.16), 0 -8px 8px -8px rgba(0, 0, 0, 0.08), 0 8px 8px -8px rgba(0, 0, 0, 0.08), 0 -16px 16px -16px rgba(0, 0, 0, 0.04), 0 16px 16px -16px rgba(0, 0, 0, 0.04);
}

.Shadow-3x {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 8px 8px 0 rgba(0, 0, 0, 0.12), 0 24px 24px 0 rgba(0, 0, 0, 0.06);
}

.Shadow-inner-3x {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.24) inset, 0 0 8px 0 rgba(0, 0, 0, 0.12) inset, 0 0 24px 0 rgba(0, 0, 0, 0.06) inset;
}

.Shadow-both-3x {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.24) inset, 0 8px 8px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0 rgba(0, 0, 0, 0.12) inset, 0 24px 24px 0 rgba(0, 0, 0, 0.06), 0 0 24px 0 rgba(0, 0, 0, 0.06) inset;
}

.Shadow-br-3x {
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.24), 8px 8px 8px 0 rgba(0, 0, 0, 0.12), 24px 24px 24px 0 rgba(0, 0, 0, 0.06);
}

.Shadow-t-3x {
  box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.24), 0 -8px 8px -8px rgba(0, 0, 0, 0.12), 0 -24px 24px -24px rgba(0, 0, 0, 0.06);
}

.Shadow-r-3x {
  box-shadow: 4px 0 4px -4px rgba(0, 0, 0, 0.24), 8px 0 8px -8px rgba(0, 0, 0, 0.12), 24px 0 24px -24px rgba(0, 0, 0, 0.06);
}

.Shadow-l-3x {
  box-shadow: -4px 0 4px -4px rgba(0, 0, 0, 0.24), -8px 0 8px -8px rgba(0, 0, 0, 0.12), -24px 0 24px -24px rgba(0, 0, 0, 0.06);
}

.Shadow-b-3x {
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.24), 0 8px 8px -8px rgba(0, 0, 0, 0.12), 0 24px 24px -24px rgba(0, 0, 0, 0.06);
}

.Shadow-x-3x {
  box-shadow: 4px 0 4px -4px rgba(0, 0, 0, 0.24), -4px 0 4px -4px rgba(0, 0, 0, 0.24), 8px 0 8px -8px rgba(0, 0, 0, 0.12), -8px 0 8px -8px rgba(0, 0, 0, 0.12), 24px 0 24px -24px rgba(0, 0, 0, 0.06), -24px 0 24px -24px rgba(0, 0, 0, 0.06);
}

.Shadow-y-3x {
  box-shadow: 0 -4px 4px -4px rgba(0, 0, 0, 0.24), 0 4px 4px -4px rgba(0, 0, 0, 0.24), 0 -8px 8px -8px rgba(0, 0, 0, 0.12), 0 8px 8px -8px rgba(0, 0, 0, 0.12), 0 -24px 24px -24px rgba(0, 0, 0, 0.06), 0 24px 24px -24px rgba(0, 0, 0, 0.06);
}

.Shadow-b-Lifted, .Shadow-b-Lifted-Spotlight {
  position: relative;
}

.Shadow-b-Lifted:before, .Shadow-b-Lifted:after, .Shadow-b-Lifted-Spotlight:before, .Shadow-b-Lifted-Spotlight:after {
  z-index: -1;
  position: absolute;
  content: "";
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
}

.Shadow-b-Lifted:before, .Shadow-b-Lifted:after {
  bottom: 15px;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}

.Shadow-b-Lifted:after {
  right: 10px;
  left: auto;
  transform: rotate(3deg);
}

.Shadow-b-Lifted-Spotlight:before, .Shadow-b-Lifted-Spotlight:after {
  bottom: 25px;
  box-shadow: 0 35px 20px #777;
  transform: rotate(-8deg);
}

.Shadow-b-Lifted-Spotlight:after {
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

.Shadow-br-Lifted, .Shadow-bl-Lifted {
  position: relative;
}

.Shadow-br-Lifted:after, .Shadow-bl-Lifted:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(3deg);
}

.Shadow-br-Lifted:after {
  right: 10px;
  left: auto;
}

.Shadow-bl-Lifted:after {
  left: 10px;
}

.W-25 {
  width: 25% !important;
}

.H-25 {
  height: 25% !important;
}

.W-50 {
  width: 50% !important;
}

.H-50 {
  height: 50% !important;
}

.W-75 {
  width: 75% !important;
}

.H-75 {
  height: 75% !important;
}

.W-100 {
  width: 100% !important;
}

.H-100 {
  height: 100% !important;
}

.W-auto {
  width: auto !important;
}

.H-auto {
  height: auto !important;
}

.M-0 {
  margin: 0 !important;
}

.P-0 {
  padding: 0 !important;
}

.MT-0 {
  margin-top: 0 !important;
}

.PT-0 {
  padding-top: 0 !important;
}

.MR-0 {
  margin-right: 0 !important;
}

.PR-0 {
  padding-right: 0 !important;
}

.MB-0 {
  margin-bottom: 0 !important;
}

.PB-0 {
  padding-bottom: 0 !important;
}

.ML-0 {
  margin-left: 0 !important;
}

.PL-0 {
  padding-left: 0 !important;
}

.MX-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.MY-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.PX-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.PY-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.M-1 {
  margin: 0.25rem !important;
}

.M-N1 {
  margin: -0.25rem !important;
}

.P-1 {
  padding: 0.25rem !important;
}

.MT-1 {
  margin-top: 0.25rem !important;
}

.MT-N1 {
  margin-top: -0.25rem !important;
}

.PT-1 {
  padding-top: 0.25rem !important;
}

.MR-1 {
  margin-right: 0.25rem !important;
}

.MR-N1 {
  margin-right: -0.25rem !important;
}

.PR-1 {
  padding-right: 0.25rem !important;
}

.MB-1 {
  margin-bottom: 0.25rem !important;
}

.MB-N1 {
  margin-bottom: -0.25rem !important;
}

.PB-1 {
  padding-bottom: 0.25rem !important;
}

.ML-1 {
  margin-left: 0.25rem !important;
}

.ML-N1 {
  margin-left: -0.25rem !important;
}

.PL-1 {
  padding-left: 0.25rem !important;
}

.MX-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.MY-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.MX-N1 {
  margin-right: -0.25rem !important;
  margin-left: -0.25rem !important;
}

.MY-N1 {
  margin-top: -0.25rem !important;
  margin-bottom: -0.25rem !important;
}

.PX-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.PY-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.M-2 {
  margin: 0.5rem !important;
}

.M-N2 {
  margin: -0.5rem !important;
}

.P-2 {
  padding: 0.5rem !important;
}

.MT-2 {
  margin-top: 0.5rem !important;
}

.MT-N2 {
  margin-top: -0.5rem !important;
}

.PT-2 {
  padding-top: 0.5rem !important;
}

.MR-2 {
  margin-right: 0.5rem !important;
}

.MR-N2 {
  margin-right: -0.5rem !important;
}

.PR-2 {
  padding-right: 0.5rem !important;
}

.MB-2 {
  margin-bottom: 0.5rem !important;
}

.MB-N2 {
  margin-bottom: -0.5rem !important;
}

.PB-2 {
  padding-bottom: 0.5rem !important;
}

.ML-2 {
  margin-left: 0.5rem !important;
}

.ML-N2 {
  margin-left: -0.5rem !important;
}

.PL-2 {
  padding-left: 0.5rem !important;
}

.MX-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.MY-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.MX-N2 {
  margin-right: -0.5rem !important;
  margin-left: -0.5rem !important;
}

.MY-N2 {
  margin-top: -0.5rem !important;
  margin-bottom: -0.5rem !important;
}

.PX-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.PY-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.M-3 {
  margin: 1rem !important;
}

.M-N3 {
  margin: -1rem !important;
}

.P-3 {
  padding: 1rem !important;
}

.MT-3 {
  margin-top: 1rem !important;
}

.MT-N3 {
  margin-top: -1rem !important;
}

.PT-3 {
  padding-top: 1rem !important;
}

.MR-3 {
  margin-right: 1rem !important;
}

.MR-N3 {
  margin-right: -1rem !important;
}

.PR-3 {
  padding-right: 1rem !important;
}

.MB-3 {
  margin-bottom: 1rem !important;
}

.MB-N3 {
  margin-bottom: -1rem !important;
}

.PB-3 {
  padding-bottom: 1rem !important;
}

.ML-3 {
  margin-left: 1rem !important;
}

.ML-N3 {
  margin-left: -1rem !important;
}

.PL-3 {
  padding-left: 1rem !important;
}

.MX-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.MY-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.MX-N3 {
  margin-right: -1rem !important;
  margin-left: -1rem !important;
}

.MY-N3 {
  margin-top: -1rem !important;
  margin-bottom: -1rem !important;
}

.PX-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.PY-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.M-4 {
  margin: 1.5rem !important;
}

.M-N4 {
  margin: -1.5rem !important;
}

.P-4 {
  padding: 1.5rem !important;
}

.MT-4 {
  margin-top: 1.5rem !important;
}

.MT-N4 {
  margin-top: -1.5rem !important;
}

.PT-4 {
  padding-top: 1.5rem !important;
}

.MR-4 {
  margin-right: 1.5rem !important;
}

.MR-N4 {
  margin-right: -1.5rem !important;
}

.PR-4 {
  padding-right: 1.5rem !important;
}

.MB-4 {
  margin-bottom: 1.5rem !important;
}

.MB-N4 {
  margin-bottom: -1.5rem !important;
}

.PB-4 {
  padding-bottom: 1.5rem !important;
}

.ML-4 {
  margin-left: 1.5rem !important;
}

.ML-N4 {
  margin-left: -1.5rem !important;
}

.PL-4 {
  padding-left: 1.5rem !important;
}

.MX-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.MY-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.MX-N4 {
  margin-right: -1.5rem !important;
  margin-left: -1.5rem !important;
}

.MY-N4 {
  margin-top: -1.5rem !important;
  margin-bottom: -1.5rem !important;
}

.PX-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.PY-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.M-5 {
  margin: 3rem !important;
}

.M-N5 {
  margin: -3rem !important;
}

.P-5 {
  padding: 3rem !important;
}

.MT-5 {
  margin-top: 3rem !important;
}

.MT-N5 {
  margin-top: -3rem !important;
}

.PT-5 {
  padding-top: 3rem !important;
}

.MR-5 {
  margin-right: 3rem !important;
}

.MR-N5 {
  margin-right: -3rem !important;
}

.PR-5 {
  padding-right: 3rem !important;
}

.MB-5 {
  margin-bottom: 3rem !important;
}

.MB-N5 {
  margin-bottom: -3rem !important;
}

.PB-5 {
  padding-bottom: 3rem !important;
}

.ML-5 {
  margin-left: 3rem !important;
}

.ML-N5 {
  margin-left: -3rem !important;
}

.PL-5 {
  padding-left: 3rem !important;
}

.MX-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.MY-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.MX-N5 {
  margin-right: -3rem !important;
  margin-left: -3rem !important;
}

.MY-N5 {
  margin-top: -3rem !important;
  margin-bottom: -3rem !important;
}

.PX-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.PY-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.MX-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.MY-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.Btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid gray;
}

/*
Notes
 https://github.com/twbs/bootstrap/blob/main/scss/mixins/_breakpoints.scss

*/
.Col-1, .Col-2, .Col-3, .Col-4, .Col-5, .Col-6, .Col-7, .Col-8, .Col-9, .Col-10, .Col-11, .Col-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
}

@media (min-width: 1024px) {
  .Col-h-1, .Col-h-2, .Col-h-3, .Col-h-4, .Col-h-5, .Col-h-6, .Col-h-7, .Col-h-8, .Col-h-9, .Col-h-10, .Col-h-11, .Col-h-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
  }
}

@media (min-width: 1024px) {
  .Col-k-1, .Col-k-2, .Col-k-3, .Col-k-4, .Col-k-5, .Col-k-6, .Col-k-7, .Col-k-8, .Col-k-9, .Col-k-10, .Col-k-11, .Col-k-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
  }
}

@media (min-width: 1920px) {
  .Col-2k-1, .Col-2k-2, .Col-2k-3, .Col-2k-4, .Col-2k-5, .Col-2k-6, .Col-2k-7, .Col-2k-8, .Col-2k-9, .Col-2k-10, .Col-2k-11, .Col-2k-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
  }
}

@media (min-width: 3840px) {
  .Col-4k-1, .Col-4k-2, .Col-4k-3, .Col-4k-4, .Col-4k-5, .Col-4k-6, .Col-4k-7, .Col-4k-8, .Col-4k-9, .Col-4k-10, .Col-4k-11, .Col-4k-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
  }
}

@media (min-width: 7680px) {
  .Col-8k-1, .Col-8k-2, .Col-8k-3, .Col-8k-4, .Col-8k-5, .Col-8k-6, .Col-8k-7, .Col-8k-8, .Col-8k-9, .Col-8k-10, .Col-8k-11, .Col-8k-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
  }
}

.Col-1 {
  flex: 0 0 auto;
  width: 8.33333%;
  padding-left: 6px;
  padding-right: 6px;
}

.Col-2 {
  flex: 0 0 auto;
  width: 16.66667%;
  padding-left: 6px;
  padding-right: 6px;
}

.Col-3 {
  flex: 0 0 auto;
  width: 25%;
  padding-left: 6px;
  padding-right: 6px;
}

.Col-4 {
  flex: 0 0 auto;
  width: 33.33333%;
  padding-left: 6px;
  padding-right: 6px;
}

.Col-5 {
  flex: 0 0 auto;
  width: 41.66667%;
  padding-left: 6px;
  padding-right: 6px;
}

.Col-6 {
  flex: 0 0 auto;
  width: 50%;
  padding-left: 6px;
  padding-right: 6px;
}

.Col-7 {
  flex: 0 0 auto;
  width: 58.33333%;
  padding-left: 6px;
  padding-right: 6px;
}

.Col-8 {
  flex: 0 0 auto;
  width: 66.66667%;
  padding-left: 6px;
  padding-right: 6px;
}

.Col-9 {
  flex: 0 0 auto;
  width: 75%;
  padding-left: 6px;
  padding-right: 6px;
}

.Col-10 {
  flex: 0 0 auto;
  width: 83.33333%;
  padding-left: 6px;
  padding-right: 6px;
}

.Col-11 {
  flex: 0 0 auto;
  width: 91.66667%;
  padding-left: 6px;
  padding-right: 6px;
}

.Col-12 {
  flex: 0 0 auto;
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;
}

.Offset-1 {
  margin-left: 8.33333%;
}

.Offset-2 {
  margin-left: 16.66667%;
}

.Offset-3 {
  margin-left: 25%;
}

.Offset-4 {
  margin-left: 33.33333%;
}

.Offset-5 {
  margin-left: 41.66667%;
}

.Offset-6 {
  margin-left: 50%;
}

.Offset-7 {
  margin-left: 58.33333%;
}

.Offset-8 {
  margin-left: 66.66667%;
}

.Offset-9 {
  margin-left: 75%;
}

.Offset-10 {
  margin-left: 83.33333%;
}

.Offset-11 {
  margin-left: 91.66667%;
}

@media (min-width: 530px) {
  .Col-h-1 {
    flex: 0 0 auto;
    width: 8.33333%;
    padding-left: 10.6px;
    padding-right: 10.6px;
  }
  .Col-h-2 {
    flex: 0 0 auto;
    width: 16.66667%;
    padding-left: 10.6px;
    padding-right: 10.6px;
  }
  .Col-h-3 {
    flex: 0 0 auto;
    width: 25%;
    padding-left: 10.6px;
    padding-right: 10.6px;
  }
  .Col-h-4 {
    flex: 0 0 auto;
    width: 33.33333%;
    padding-left: 10.6px;
    padding-right: 10.6px;
  }
  .Col-h-5 {
    flex: 0 0 auto;
    width: 41.66667%;
    padding-left: 10.6px;
    padding-right: 10.6px;
  }
  .Col-h-6 {
    flex: 0 0 auto;
    width: 50%;
    padding-left: 10.6px;
    padding-right: 10.6px;
  }
  .Col-h-7 {
    flex: 0 0 auto;
    width: 58.33333%;
    padding-left: 10.6px;
    padding-right: 10.6px;
  }
  .Col-h-8 {
    flex: 0 0 auto;
    width: 66.66667%;
    padding-left: 10.6px;
    padding-right: 10.6px;
  }
  .Col-h-9 {
    flex: 0 0 auto;
    width: 75%;
    padding-left: 10.6px;
    padding-right: 10.6px;
  }
  .Col-h-10 {
    flex: 0 0 auto;
    width: 83.33333%;
    padding-left: 10.6px;
    padding-right: 10.6px;
  }
  .Col-h-11 {
    flex: 0 0 auto;
    width: 91.66667%;
    padding-left: 10.6px;
    padding-right: 10.6px;
  }
  .Col-h-12 {
    flex: 0 0 auto;
    width: 100%;
    padding-left: 10.6px;
    padding-right: 10.6px;
  }
  .Offset-h-0 {
    margin-left: 0;
  }
  .Offset-h-1 {
    margin-left: 8.33333%;
  }
  .Offset-h-2 {
    margin-left: 16.66667%;
  }
  .Offset-h-3 {
    margin-left: 25%;
  }
  .Offset-h-4 {
    margin-left: 33.33333%;
  }
  .Offset-h-5 {
    margin-left: 41.66667%;
  }
  .Offset-h-6 {
    margin-left: 50%;
  }
  .Offset-h-7 {
    margin-left: 58.33333%;
  }
  .Offset-h-8 {
    margin-left: 66.66667%;
  }
  .Offset-h-9 {
    margin-left: 75%;
  }
  .Offset-h-10 {
    margin-left: 83.33333%;
  }
  .Offset-h-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1014px) {
  .Col-k-1 {
    flex: 0 0 auto;
    width: 8.33333%;
    padding-left: 20.28px;
    padding-right: 20.28px;
  }
  .Col-k-2 {
    flex: 0 0 auto;
    width: 16.66667%;
    padding-left: 20.28px;
    padding-right: 20.28px;
  }
  .Col-k-3 {
    flex: 0 0 auto;
    width: 25%;
    padding-left: 20.28px;
    padding-right: 20.28px;
  }
  .Col-k-4 {
    flex: 0 0 auto;
    width: 33.33333%;
    padding-left: 20.28px;
    padding-right: 20.28px;
  }
  .Col-k-5 {
    flex: 0 0 auto;
    width: 41.66667%;
    padding-left: 20.28px;
    padding-right: 20.28px;
  }
  .Col-k-6 {
    flex: 0 0 auto;
    width: 50%;
    padding-left: 20.28px;
    padding-right: 20.28px;
  }
  .Col-k-7 {
    flex: 0 0 auto;
    width: 58.33333%;
    padding-left: 20.28px;
    padding-right: 20.28px;
  }
  .Col-k-8 {
    flex: 0 0 auto;
    width: 66.66667%;
    padding-left: 20.28px;
    padding-right: 20.28px;
  }
  .Col-k-9 {
    flex: 0 0 auto;
    width: 75%;
    padding-left: 20.28px;
    padding-right: 20.28px;
  }
  .Col-k-10 {
    flex: 0 0 auto;
    width: 83.33333%;
    padding-left: 20.28px;
    padding-right: 20.28px;
  }
  .Col-k-11 {
    flex: 0 0 auto;
    width: 91.66667%;
    padding-left: 20.28px;
    padding-right: 20.28px;
  }
  .Col-k-12 {
    flex: 0 0 auto;
    width: 100%;
    padding-left: 20.28px;
    padding-right: 20.28px;
  }
  .Offset-k-0 {
    margin-left: 0;
  }
  .Offset-k-1 {
    margin-left: 8.33333%;
  }
  .Offset-k-2 {
    margin-left: 16.66667%;
  }
  .Offset-k-3 {
    margin-left: 25%;
  }
  .Offset-k-4 {
    margin-left: 33.33333%;
  }
  .Offset-k-5 {
    margin-left: 41.66667%;
  }
  .Offset-k-6 {
    margin-left: 50%;
  }
  .Offset-k-7 {
    margin-left: 58.33333%;
  }
  .Offset-k-8 {
    margin-left: 66.66667%;
  }
  .Offset-k-9 {
    margin-left: 75%;
  }
  .Offset-k-10 {
    margin-left: 83.33333%;
  }
  .Offset-k-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1910px) {
  .Col-2k-1 {
    flex: 0 0 auto;
    width: 8.33333%;
    padding-left: 38.2px;
    padding-right: 38.2px;
  }
  .Col-2k-2 {
    flex: 0 0 auto;
    width: 16.66667%;
    padding-left: 38.2px;
    padding-right: 38.2px;
  }
  .Col-2k-3 {
    flex: 0 0 auto;
    width: 25%;
    padding-left: 38.2px;
    padding-right: 38.2px;
  }
  .Col-2k-4 {
    flex: 0 0 auto;
    width: 33.33333%;
    padding-left: 38.2px;
    padding-right: 38.2px;
  }
  .Col-2k-5 {
    flex: 0 0 auto;
    width: 41.66667%;
    padding-left: 38.2px;
    padding-right: 38.2px;
  }
  .Col-2k-6 {
    flex: 0 0 auto;
    width: 50%;
    padding-left: 38.2px;
    padding-right: 38.2px;
  }
  .Col-2k-7 {
    flex: 0 0 auto;
    width: 58.33333%;
    padding-left: 38.2px;
    padding-right: 38.2px;
  }
  .Col-2k-8 {
    flex: 0 0 auto;
    width: 66.66667%;
    padding-left: 38.2px;
    padding-right: 38.2px;
  }
  .Col-2k-9 {
    flex: 0 0 auto;
    width: 75%;
    padding-left: 38.2px;
    padding-right: 38.2px;
  }
  .Col-2k-10 {
    flex: 0 0 auto;
    width: 83.33333%;
    padding-left: 38.2px;
    padding-right: 38.2px;
  }
  .Col-2k-11 {
    flex: 0 0 auto;
    width: 91.66667%;
    padding-left: 38.2px;
    padding-right: 38.2px;
  }
  .Col-2k-12 {
    flex: 0 0 auto;
    width: 100%;
    padding-left: 38.2px;
    padding-right: 38.2px;
  }
  .Offset-2k-0 {
    margin-left: 0;
  }
  .Offset-2k-1 {
    margin-left: 8.33333%;
  }
  .Offset-2k-2 {
    margin-left: 16.66667%;
  }
  .Offset-2k-3 {
    margin-left: 25%;
  }
  .Offset-2k-4 {
    margin-left: 33.33333%;
  }
  .Offset-2k-5 {
    margin-left: 41.66667%;
  }
  .Offset-2k-6 {
    margin-left: 50%;
  }
  .Offset-2k-7 {
    margin-left: 58.33333%;
  }
  .Offset-2k-8 {
    margin-left: 66.66667%;
  }
  .Offset-2k-9 {
    margin-left: 75%;
  }
  .Offset-2k-10 {
    margin-left: 83.33333%;
  }
  .Offset-2k-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 3830px) {
  .Col-4k-1 {
    flex: 0 0 auto;
    width: 8.33333%;
    padding-left: 76.6px;
    padding-right: 76.6px;
  }
  .Col-4k-2 {
    flex: 0 0 auto;
    width: 16.66667%;
    padding-left: 76.6px;
    padding-right: 76.6px;
  }
  .Col-4k-3 {
    flex: 0 0 auto;
    width: 25%;
    padding-left: 76.6px;
    padding-right: 76.6px;
  }
  .Col-4k-4 {
    flex: 0 0 auto;
    width: 33.33333%;
    padding-left: 76.6px;
    padding-right: 76.6px;
  }
  .Col-4k-5 {
    flex: 0 0 auto;
    width: 41.66667%;
    padding-left: 76.6px;
    padding-right: 76.6px;
  }
  .Col-4k-6 {
    flex: 0 0 auto;
    width: 50%;
    padding-left: 76.6px;
    padding-right: 76.6px;
  }
  .Col-4k-7 {
    flex: 0 0 auto;
    width: 58.33333%;
    padding-left: 76.6px;
    padding-right: 76.6px;
  }
  .Col-4k-8 {
    flex: 0 0 auto;
    width: 66.66667%;
    padding-left: 76.6px;
    padding-right: 76.6px;
  }
  .Col-4k-9 {
    flex: 0 0 auto;
    width: 75%;
    padding-left: 76.6px;
    padding-right: 76.6px;
  }
  .Col-4k-10 {
    flex: 0 0 auto;
    width: 83.33333%;
    padding-left: 76.6px;
    padding-right: 76.6px;
  }
  .Col-4k-11 {
    flex: 0 0 auto;
    width: 91.66667%;
    padding-left: 76.6px;
    padding-right: 76.6px;
  }
  .Col-4k-12 {
    flex: 0 0 auto;
    width: 100%;
    padding-left: 76.6px;
    padding-right: 76.6px;
  }
  .Offset-4k-0 {
    margin-left: 0;
  }
  .Offset-4k-1 {
    margin-left: 8.33333%;
  }
  .Offset-4k-2 {
    margin-left: 16.66667%;
  }
  .Offset-4k-3 {
    margin-left: 25%;
  }
  .Offset-4k-4 {
    margin-left: 33.33333%;
  }
  .Offset-4k-5 {
    margin-left: 41.66667%;
  }
  .Offset-4k-6 {
    margin-left: 50%;
  }
  .Offset-4k-7 {
    margin-left: 58.33333%;
  }
  .Offset-4k-8 {
    margin-left: 66.66667%;
  }
  .Offset-4k-9 {
    margin-left: 75%;
  }
  .Offset-4k-10 {
    margin-left: 83.33333%;
  }
  .Offset-4k-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 7670px) {
  .Col-8k-1 {
    flex: 0 0 auto;
    width: 8.33333%;
    padding-left: 153.4px;
    padding-right: 153.4px;
  }
  .Col-8k-2 {
    flex: 0 0 auto;
    width: 16.66667%;
    padding-left: 153.4px;
    padding-right: 153.4px;
  }
  .Col-8k-3 {
    flex: 0 0 auto;
    width: 25%;
    padding-left: 153.4px;
    padding-right: 153.4px;
  }
  .Col-8k-4 {
    flex: 0 0 auto;
    width: 33.33333%;
    padding-left: 153.4px;
    padding-right: 153.4px;
  }
  .Col-8k-5 {
    flex: 0 0 auto;
    width: 41.66667%;
    padding-left: 153.4px;
    padding-right: 153.4px;
  }
  .Col-8k-6 {
    flex: 0 0 auto;
    width: 50%;
    padding-left: 153.4px;
    padding-right: 153.4px;
  }
  .Col-8k-7 {
    flex: 0 0 auto;
    width: 58.33333%;
    padding-left: 153.4px;
    padding-right: 153.4px;
  }
  .Col-8k-8 {
    flex: 0 0 auto;
    width: 66.66667%;
    padding-left: 153.4px;
    padding-right: 153.4px;
  }
  .Col-8k-9 {
    flex: 0 0 auto;
    width: 75%;
    padding-left: 153.4px;
    padding-right: 153.4px;
  }
  .Col-8k-10 {
    flex: 0 0 auto;
    width: 83.33333%;
    padding-left: 153.4px;
    padding-right: 153.4px;
  }
  .Col-8k-11 {
    flex: 0 0 auto;
    width: 91.66667%;
    padding-left: 153.4px;
    padding-right: 153.4px;
  }
  .Col-8k-12 {
    flex: 0 0 auto;
    width: 100%;
    padding-left: 153.4px;
    padding-right: 153.4px;
  }
  .Offset-8k-0 {
    margin-left: 0;
  }
  .Offset-8k-1 {
    margin-left: 8.33333%;
  }
  .Offset-8k-2 {
    margin-left: 16.66667%;
  }
  .Offset-8k-3 {
    margin-left: 25%;
  }
  .Offset-8k-4 {
    margin-left: 33.33333%;
  }
  .Offset-8k-5 {
    margin-left: 41.66667%;
  }
  .Offset-8k-6 {
    margin-left: 50%;
  }
  .Offset-8k-7 {
    margin-left: 58.33333%;
  }
  .Offset-8k-8 {
    margin-left: 66.66667%;
  }
  .Offset-8k-9 {
    margin-left: 75%;
  }
  .Offset-8k-10 {
    margin-left: 83.33333%;
  }
  .Offset-8k-11 {
    margin-left: 91.66667%;
  }
}

.Container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.Row {
  display: flex;
  flex-wrap: wrap;
}

/*# sourceMappingURL=lootstrap.css.map */