// ===========================================================================
// Components - Container
// ===========================================================================

.Container, .Container-fluid {
  width: 100%;

  padding-right: 15px;
  padding-left: 15px;

  margin-right: auto;
  margin-left: auto;
}

// From https://github.com/twbs/bootstrap/blob/main/scss/_containers.scss
@each $containerKey, $containerValue in $breakpoints-Container {
  $infix: if($containerKey == none, "", "-#{$containerKey}");

  @include media-min-W(map-get($responsive-Breakpoints, $containerKey)) {
    %Container-#{$infix} {
      max-width: $containerValue;
    }

    // Extend each breakpoint which is smaller or equal to the current breakpoint
    $extend-breakpoint: true;
    @each $bpKey, $bpValue in $responsive-Breakpoints {
      @if ($extend-breakpoint) {
        $infixSecond: if($bpKey == none, "", "-#{$bpKey}");
        .Container#{$infixSecond} {
          @extend %Container-#{$infix};
        }

        // Once the current breakpoint is reached, stop extending
        @if ($containerKey == $bpKey) {
          $extend-breakpoint: false;
        }
      }
    }
  }
}

/*
result for xxl:
@media (min-width: 1440px) {
  .Container-xxl, .Container-xl, .Container-lg, .Container-md, .Container-sm, .Container {
    max-width: 1376px;
  }
}
*/
