// ===========================================================================
// Components - Container
// ===========================================================================

.Container {
  width: 100%;

  padding-right: 15px;
  padding-left: 15px;

  margin-right: auto;
  margin-left: auto;

  //color: $Component-fg-body;
  //background-color: $Component-bg-body;
}

.Row {
  display: flex;
  flex-wrap: wrap;

  //margin-right: -15px;
  //margin-left: -15px;
}
