// ===========================================================================
// Components - Grid
// https://github.com/twbs/bootstrap/blob/main/scss/mixins/_breakpoints.scss
// ===========================================================================

/*
// Row
// Rows contain your columns.
*/

.Row {
  --#{$var-Prefix}gutter-x: #{$grid-Gutter-width};
  --#{$var-Prefix}gutter-y: 0;
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * var(--#{$var-Prefix}gutter-y));
  margin-right: calc(-.5 * var(--#{$var-Prefix}gutter-x));
  margin-left: calc(-.5 * var(--#{$var-Prefix}gutter-x));

  > * {
    // Add box sizing if only the grid is loaded
    //box-sizing: if(variable-exists(include-column-box-sizing) and $include-column-box-sizing, border-box, null);

    // Prevent columns from becoming too narrow when at smaller grid tiers by
    // always setting `width: 100%;`. This works because we set the width
    // later on to override this initial width.
    flex-shrink: 0;
    width: 100%;
    max-width: 100%; // Prevent `.col-auto`, `.col` (& responsive variants) from breaking out the grid

    padding-right: calc(var(--#{$var-Prefix}gutter-x) * .5); // stylelint-disable-line function-disallowed-list
    padding-left: calc(var(--#{$var-Prefix}gutter-x) * .5); // stylelint-disable-line function-disallowed-list
    margin-top: var(--#{$var-Prefix}gutter-y);
  }
}

/*
// Columns
// Common styles for small and large grid columns
*/

@include make-Grid-Cols($grid-Columns, $breakpoints-Grid);
