// ===========================================================================
// Utils - Bg & Fg & Border Colors
// ===========================================================================

@include Bg-Text-Border-variables($colors-all);

$utilities-bg: () !default;
$utilities-bg: (
  // Text
        "Text-lightness": (
                Prefix: Text-lightness, Properties: --#{$var-Prefix}text-lightness, Important: false,
                Values: $color-Lightness-map
        ),
        "Text-color": (
                Prefix: Text, Properties: color, Important: true,
                Values: $colors-Text-hsla
        ),
        "Text-alpha": (
                Prefix: Text-alpha, Properties: --#{$var-Prefix}text-alpha, Important: false,
                Values: $color-Alpha-map
        ),
  // Border-color, Border-alpha
        "Border-color": (
                Prefix: Border, Properties: border-color, Important: true,
                Values: map-merge($colors-Border-hsla, ("transparent": transparent)),
        ),
        "Border-alpha": (
                Prefix: Border-alpha, Properties: --#{$var-Prefix}border-alpha, Important: false,
                Values: $color-Alpha-map,
        ),
  // Bg
        "Bg-lightness": (
                Prefix: Bg-lightness, Properties: --#{$var-Prefix}bg-lightness, Important: false,
                Values: $color-Lightness-map
        ),
        "Bg-color": (
                Prefix: Bg, Properties: background-color, Important: true,
                Values: map-merge($colors-Background-hsla, ("transparent": transparent)),
        ),
        "Bg-alpha": (Prefix: Bg-alpha, Properties: --#{$var-Prefix}bg-alpha, Important: false, Values: $color-Alpha-map),
  // Opacity
        "Opacity": (Prefix: Opacity, Properties: opacity, Important: true, Values: $opacity-map),
  // Pseudo colors
        "Before-bg-before": (
                Prefix: Before-bg, Properties: background-color, Important: true, Pseudo:before,
                Values: $colors-Background-hsla
        ),
        "Before-border-before": (
                Prefix: Before-border, Properties: border-color, Important: true, Pseudo:before,
                Values: $colors-Border-hsla
        ),
        "Before-bg-after": (
                Prefix: After-bg, Properties: background-color, Important: true, Pseudo:after,
                Values: $colors-Background-hsla
        ),
        "Before-border-after": (
                Prefix: After-border, Properties: border-color, Important: true, Pseudo:after,
                Values: $colors-Border-hsla
        ),
);

@include Utilities($utilities-bg);

// ===========================================================================
// Text Color
// ===========================================================================

/*
// .Text-<color>, .Text-<theme>, .Text-muted {}
// .Text-alpha-0, .Text-alpha-100 { }
// .Text-lightness-0, .Text-lightness-100 {}
*/

// ===========================================================================
// Border
// ===========================================================================

/*
// .Border-<color>, .Border-<theme>, .Border-transparent {}
// .Border-alpha-0, .Border-alpha-100 {}
*/

// ===========================================================================
// Bg
// ===========================================================================

/*
// .Bg-<color>, .Bg-<theme> {}
// .Bg-alpha-0, .Bg-alpha-100 {}
// .Bg-lightness-0, .Bg-lightness-100 {}
// .Opacity-0,  .Opacity-100 {}
*/

// ===========================================================================
// Pseudo colors
// ===========================================================================

/*
// .Before-bg-<color>:before, .Before-bg-<theme>:before {}
// .Before-border-<color>:before, .Before-border-<theme>:before {}
// .After-bg-<color>:after, .After-bg-<theme>:after {}
// .After-border-<color>:after, .After-border-<theme>:after {}
*/
