// ===========================================================================
// Utils - Spacing
// ===========================================================================

/*
// Margin, Padding
*/
// Values: Prefix: *, Properties: *, Important: *, Responsive: *, Values: *, Values: *, Pseudo:*
$utilities-Spacing: () !default;
$utilities-Spacing: (
  // Margin
        "M": (
                Prefix: M, Properties: margin, Important: true, Responsive: true, Values: map-merge($spacers-map, (auto: auto))
        ),
        "MX": (
                Prefix: MX, Properties: margin-right margin-left, Important: true, Responsive: true, Values: map-merge($spacers-map, (auto: auto))
        ),
        "MY": (
                Prefix: MY, Properties: margin-top margin-bottom, Important: true, Responsive: true, Values: map-merge($spacers-map, (auto: auto))
        ),
  // Margin directions
        "M-top": (Prefix: MT, Properties: margin-top, Important: true, Responsive: true, Values: map-merge($spacers-map, (auto: auto))),
        "M-right": (Prefix: MR, Properties: margin-right, Important: true, Responsive: true, Values: map-merge($spacers-map, (auto: auto))),
        "M-end": (Prefix: ME, Properties: margin-right, Important: true, Responsive: true, Values: map-merge($spacers-map, (auto: auto))),
        "M-bottom": (Prefix: MB, Properties: margin-bottom, Important: true, Responsive: true, Values: map-merge($spacers-map, (auto: auto))),
        "M-left": (Prefix: ML, Properties: margin-left, Important: true, Responsive: true, Values: map-merge($spacers-map, (auto: auto))),
        "M-start": (Prefix: MS, Properties: margin-left, Important: true, Responsive: true, Values: map-merge($spacers-map, (auto: auto))),
  // Negative Margin
        "Neg M": (
                Prefix: M, Properties: margin, Important: true, Responsive: true, Values: $negative-spacers
        ),
        "Neg MX": (
                Prefix: MX, Properties: margin-right margin-left, Important: true, Responsive: true, Values: $negative-spacers
        ),
        "Neg MY": (
                Prefix: MY, Properties: margin-top margin-bottom, Important: true, Responsive: true, Values: $negative-spacers
        ),
  // Negative Margin directions
        "Neg M-top": (Prefix: MT, Properties: margin-top, Important: true, Responsive: true, Values: $negative-spacers),
        "Neg M-right": (Prefix: MR, Properties: margin-right, Important: true, Responsive: true, Values: $negative-spacers),
        "Neg M-end": (Prefix: ME, Properties: margin-right, Important: true, Responsive: true, Values: $negative-spacers),
        "Neg M-bottom": (Prefix: MB, Properties: margin-bottom, Important: true, Responsive: true, Values: $negative-spacers),
        "Neg M-left": (Prefix: ML, Properties: margin-left, Important: true, Responsive: true, Values: $negative-spacers),
        "Neg M-start": (Prefix: MS, Properties: margin-left, Important: true, Responsive: true, Values: $negative-spacers),
  // Padding
        "P": (Prefix: P, Properties: padding, Important: true, Responsive: true, Values: $spacers-map),
        "PX": (Prefix: PX, Properties: padding-right padding-left, Important: true, Responsive: true, Values: $spacers-map),
        "PY": (Prefix: PY, Properties: padding-top padding-bottom, Important: true, Responsive: true, Values: $spacers-map),
  // Padding directions
        "P-top": (Prefix: PT, Properties: padding-top, Important: true, Responsive: true, Values: $spacers-map),
        "P-right": (Prefix: PR, Properties: padding-right, Important: true, Responsive: true, Values: $spacers-map),
        "P-end": (Prefix: PE, Properties: padding-right, Important: true, Responsive: true, Values: $spacers-map),
        "P-bottom": (Prefix: PB, Properties: padding-bottom, Important: true, Responsive: true, Values: $spacers-map),
        "P-left": (Prefix: PL, Properties: padding-left, Important: true, Responsive: true, Values: $spacers-map),
        "P-start": (Prefix: PS, Properties: padding-left, Important: true, Responsive: true, Values: $spacers-map),
);

@include Utilities($utilities-Spacing);

// ===========================================================================
// Margin
// ===========================================================================

/*
Margin                  .M-<0-5>, .M-auto {}
Margin X, Y             .M<X,Y>-<0-5>, .M<X,Y>-auto {}
Margin directions       .M<T,R,E,B,L,S>-<0-5>, .M<T,R,E,B,L,S>-auto {}
Negative Margin         .M-N<0-5>
Negative Margin X, Y    .M<X,Y>-N<0-5>
Negative M directions   .M<T,R,E,B,L,S>-N<0-5> {}
*/

// ===========================================================================
// Padding
// ===========================================================================

/*
Padding                  .P-<0-5> {}
Padding X, Y             .P<X,Y>-<0-5> {}
Padding directions       .P<T,R,E,B,L,S>-<0-5> {}
*/
