// ===========================================================================
// Utils - Text
// ===========================================================================

//TODO...

// Values: Prefix: *, Properties: *, Important: *, Responsive: *, Values: *, Values: *, Pseudo:*
$utilities-Text: () !default;
$utilities-Text: (
  // font-family
  //      "font-family": (
  //              Prefix: Font, Properties: font-family, Important: true,
  //              Values: (monospace: var(--#{$variable-prefix}font-monospace))
  //      ),
  //      "font-size": (
  //              Prefix: FS, Properties: font-size, Important: true,
  //              Values: $font-sizes
  //      ),
        "font-style": (
                Prefix: FST, Properties: font-style, Important: true,
                Values: italic normal
        ),
  //"font-weight": (
  //        Prefix: FW, Properties: font-weight, Important: true,
  //        Values: (
  //                light: $font-weight-light,
  //                lighter: $font-weight-lighter,
  //                normal: $font-weight-normal,
  //                bold: $font-weight-bold,
  //                bolder: $font-weight-bolder
  //        )
  //),
  //"line-height": (
  //        Prefix: LH, Properties: line-height, Important: true,
  //        Values: (
  //                1: 1,
  //                sm: $line-height-sm,
  //                base: $line-height-base,
  //                lg: $line-height-lg,
  //        )
  //),
        "Text-align": (
                Prefix: Txt, Properties: text-align, Important: true, Responsive: true,
                Values: (left: left, right: right, start: left, end: right, center: center)
        ),
        "Text-decoration": (
                Prefix: Txt-decoration, Properties: text-decoration, Important: true,
                Values: (
                        none:none,
                        underline:underline,
                        overline:overline,
                        strikethrough:line-through,
                        multiple:underline overline line-through,
                        blink:blink,
                        wavy:underline overline wavy,
                )
        ),
        "Text-transform": (
                Prefix: Txt, Properties: text-transform, Important: true,
                Values: lowercase uppercase capitalize
        ),
        "white-space": (
                Prefix: WS, Properties: white-space, Important: true,
                Values: normal nowrap
        ),
);

@include Utilities($utilities-Text);


/*
// Text-align + Responsive variants
*/

.Txt-left, .Txt-right, .Txt-center {
}

/*
// Text-transform
*/

.Txt-lowercase, .Txt-uppercase, .Txt-capitalize {
}


// TODO: Txt-d

//.Txt-d {
//  //text-decoration: #{var(--Txt-dl)} #{var(--Txt-ds)} #{var(--Txt-dc)};
//  text-decoration-line: #{var(--Txt-dl)};
//  text-decoration-style: #{var(--Txt-ds)};
//  text-decoration-color: #{var(--Txt-dc)};
//}

//@include Utility-applier(true, Txt-d, text-decoration, (none:none));

.Txt-d, .Txt-d-none {
}

/*
// text-decoration-line -dl-: none underline overline line-through blink
*/

//@include Utility-applier(false, Txt-dl, --Txt-dl, (under:underline));
//@include Utility-applier(false, Txt-dl, --Txt-dl, (over:overline));
//@include Utility-applier(false, Txt-dl, --Txt-dl, (through:line-through));
//@include Utility-applier(false, Txt-dl, --Txt-dl, (blink:blink));
//@include Utility-applier(false, Txt-dl, --Txt-dl, (under-over:underline overline));
//@include Utility-applier(false, Txt-dl, --Txt-dl, (under-over-through:overline underline line-through));

.Txt-dl-under, .Txt-dl-over, .Txt-dl-through, .Txt-dl-blink, .Txt-dl-under-over, .Txt-dl-under-over-through {
}

/*
// text-decoration-style -ds-: solid double dotted dashed wavy
*/

//@include Utility-applier(false, Txt-ds, --Txt-ds, (solid:solid, double:double, dotted:dotted, dashed:dashed, wavy:wavy));

.Txt-ds-solid, .Txt-ds-double, .Txt-ds-dotted, .Txt-ds-dashed, .Txt-ds-wavy {
}

/*
// text-decoration-color -dc-: theme-colors
*/

//@include Utility-applier(false, Txt-dc, --Txt-dc, $colors-theme);

.Txt-dc-primary, .Txt-dc-secondary, .Txt-dc-success, .Txt-dc-info, .Txt-dc-warning, .Txt-dc-danger, .Txt-dc-light, .Txt-dc-dark {
}