// ===========================================================================
// Utils - Utilities (Rest of all)
// ===========================================================================

// Values: Prefix: *, Properties: *, Important: *, Responsive: *, Values: *, Values: *, Pseudo:*
$utilities: () !default;
$utilities: (
  /*
  // Cursor
  */
        "Cursor": (
                Prefix: Cursor, Properties: cursor, Important: true,
                Values: (
                        pointer: pointer,
                        help: help,
                        wait: wait,
                        not-allowed: not-allowed,
                        zoom-in: zoom-in,
                        zoom-out: zoom-out,
                ),
        ),
  /*
  // Align
  */
  //"Align": (
  //        Prefix: Align, Properties: vertical-align, Important: true, Responsive: true,
  //        Values: (baseline top middle bottom text-bottom text-top)
  //),
  /*
  // Float
  */
  //"Float": (
  //        Prefix: Float, Properties: float, Important: true, Responsive: true,
  //        Values: (start: left, end: right, left: left, right: right, none: none,)
  //),
  /*
  // Overflow
  */
        "Overflow": (
                Prefix: Overflow, Properties: overflow, Important: true,
                Values: (auto hidden visible scroll)
        ),
  /*
  // Display
  */
        "Display": (
                Prefix: D, Properties: display, Important: true, Responsive: true,
                Values: inline inline-block block grid table table-row table-cell flex inline-flex none
        ),
  /*
  // Shadow
  */
        "Box Shadow": (
                Prefix: Shadow, Properties: box-shadow, Important: true, Values: $Shadow-map
        ),
  /*
  // Position
  */
  //"Position": (
  //        Prefix: Position, Properties: position, Important: true,
  //        Values: (static relative absolute fixed sticky)
  //),
  /*
  // Sizing Width, Height
  */
        "Width": (Prefix: W, Properties: width, Important: true, Values: $sizes-percents,),
        "Max-Width": (Prefix: MW, Properties: max-width, Important: true, Values: (100: 100%)),
        "viewport-Width": (Prefix: VW, Properties: width, Important: true, Values: (100: 100vw)),
        "Height": (Prefix: H, Properties: height, Important: true, Values: $sizes-percents,),
        "Max-Height": (Prefix: MH, Properties: max-height, Important: true, Values: (100: 100%)),
        "viewport-Height": (Prefix: VH, Properties: height, Important: true, Values: (100: 100vw)),
  /*
  // Flex
  */
  /*
  // justify-content align-items align-content align-self
  */
  /*
  // order
  */
        "Order": (
                Prefix: Order, Properties: order, Important: true, Responsive: true,
                Values: (first: -1, 0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, last: 6)
        ),
  /*
  // Visibility
  */
        "Visibility": (
                Prefix: null, Properties: visibility, Important: true,
                Values: (Visible: visible, Invisible: hidden, Hidden: hidden,)
        ),
);

@include Utilities($utilities);

/*
// Cursor
// .Cursor-<pointer, help, wait, not-allowed, zoom-in, zoom-out>
*/

/*
// Overflow
// .Overflow-<auto,hidden,visible,scroll>
*/

/*
// Display + Responsive variants
// .Display-<inline inline-block block grid table table-row table-cell flex inline-flex none>
*/

/*
// Box Shadow  --component-shadow-color: 0, 0, 0;
// .Shadow-<null,2x,3x>
// .Shadow-<inner,both,br,t,r,l,b,x,y>-<null,2x,3x>
*/

/*
// Sizing Width & Height
// .W-<10-100> .W-auto, .H-<10-100> .H-auto {}
*/

.MW-100, .VW-100,
.MH-100, .VH-100 {
}

/*
// Order
// .Order-<first, 0-5, last> {}
*/

/*
// Visibility
*/
.Visible, .Invisible, .Hidden {
}
