@mixin Border($directions) {
  @each $directionKey, $directionValue in $directions {
    $infix: if($directionValue != 0, "-#{to-lower-case($directionKey)}", null);
    $direction: if($directionValue != 0, "-#{$directionValue}", null);

    // Additive Border Border-t Border-r Border-b Border-l
    .Border#{$infix} {
      border#{$direction}: 1px solid #dee2e6; // shoudn't be !important: order matter
      //border#{$direction}-width: 1px !important;
      //border#{$direction}-style: solid !important;
      //border#{$direction}-color: #dee2e6;
    }

    // Subtractive Border-0 Border-t-0 Border-r-0 Border-b-0 Border-l-0
    .Border#{$infix}-0 {
      border#{$direction}: 0 !important;
    }
  }
}

// Border-width
@mixin Border-Width($max:5) {
  @for $i from 1 through $max {
    .Border-#{$i} {
      border-width: #{$i}px !important;
    }
  }
}
