/**
 * Components - Alert
 *
*/

.Alert {
  --#{$Prefix}alert-bg: #{$Alert-init-bg};
  --#{$Prefix}alert-color: #{$Alert-init-color};
  --#{$Prefix}alert-border-color: #{$Alert-init-border-color};
  --#{$Prefix}alert-icon-color: #{$Alert-init-icon-color};

  --#{$Prefix}alert-border: #{$Alert-border-width} solid var(--#{$Prefix}alert-border-color);
  --#{$Prefix}alert-border-radius: #{$Alert-border-radius};

  --#{$Prefix}alert-padding: #{$Alert-padding};
  --#{$Prefix}alert-margin-bottom: #{$Alert-margin-bottom};

  --#{$Prefix}alert-min-width: #{$Alert-min-width};

  position: relative;
  display: block;
  overflow: hidden;

  font-family: $Alert-font-family;

  text-align: left;

  padding: var(--#{$Prefix}alert-padding);
  margin-bottom: var(--#{$Prefix}alert-margin-bottom);

  margin-right: auto !important;
  margin-left: auto !important;

  color: var(--#{$Prefix}alert-color);
  background-color: var(--#{$Prefix}alert-bg);

  //border: var(--#{$Prefix}alert-border);
  border: none;
  border-radius: var(--#{$Prefix}alert-border-radius, 0);
  box-shadow: $Alert-box-shadow;

  // Headings for larger alerts
  .Alert-heading {
    // Specified to prevent conflicts of changing $headings-color
    color: inherit;

    text-align: left;
    margin: 0 0.5rem 0 0;
  }

  .Alert-icon {
    color: var(--#{$Prefix}alert-icon-color);
    font-size: 160%;

    filter: $Alert-icon-drop-shadow;
    margin-right: $Alert-icon-margin-right;

    // Quick fix for NgLootstrap/Notify/Alert custom letter symbol
    span {
      line-height: 120%;
    }
  }

  @include media-breakpoint-up(sm) {
    min-width: var(--#{$Prefix}alert-min-width);
  }
}

//
// Pill
//
.Alert-pill {
  border-radius: 50rem 0 50rem 50rem !important;
}

//
// Outline
//
.Alert-outline {
  color: var(--#{$Prefix}alert-outline-color);
  background-color: var(--#{$Prefix}alert-outline-bg);
  border-color: var(--#{$Prefix}alert-outline-border-color);

  border: var(--#{$Prefix}alert-border);

  .Alert-icon {
    color: var(--#{$Prefix}alert-outline-icon-color);
  }
}

//
// Dismissible Design
//
.Alert {

  .Notify-countdown {
    position: absolute;
    padding: 0.05rem 0.25rem 0.05rem;
    font-size: 0.75em;

    top: 0.00rem;
    right: 0.00rem;

    color: inherit;
    background-color: inherit;

    border-left: 1px solid var(--#{$Prefix}alert-border-color);
    border-bottom: 1px solid var(--#{$Prefix}alert-border-color);
  }

  .Btn-close {
    position: absolute;
    padding: 0.5rem;
    font-size: 0.375em;

    top: calc(50% - 12px);
    right: 0.5rem;

    z-index: auto;
  }

  .Progress {
    position: absolute;

    width: 100%;
    left: 0;
    bottom: 0;

    border: none;
    //background-color: var(--#{$Prefix}alert-color);

    .Progress-bar {
      color: var(--#{$Prefix}alert-color);
      background-color: var(--#{$Prefix}alert-bg);
    }
  }

}

//
// Generate contextual modifier classes for colorizing the alert.
//
@each $key, $color in $Theme-colors {
  .Alert-#{$key} {
    $opaque: Opaque(#fff, hsla(round(hue($color)), round(saturation($color)), round(lightness($color)), .75));

    --#{$Prefix}alert-bg: #{$opaque};
    --#{$Prefix}alert-color: #{Color-contrast($opaque)};
    --#{$Prefix}alert-icon-color: #{Tint-color($opaque, 75%)};
    --#{$Prefix}alert-border-color: #{Shade-color($opaque, 05%)};

    $opaque-outline: Opaque(#fff, hsla(round(hue($color)), round(saturation($color)), round(lightness($color)), .10));

    --#{$Prefix}alert-outline-bg: #{$opaque-outline};
    --#{$Prefix}alert-outline-color: #{Color-contrast($opaque-outline)};
    --#{$Prefix}alert-outline-icon-color: #{$opaque};
    --#{$Prefix}alert-outline-border-color: #{darken($color, 10%)};

    &:not(.Alert-outline) .Btn-close {
      @if (lightness($color) < 80) {
        filter: invert(1) grayscale(100%) brightness(200%);
      }
    }
  }
}
