/**
 * Components - Breadcrumb
 *
 * Base class
 * Requires one of the contextual, color modifier classes for `color` and `background-color`.
*/

.Badge {
  --#{$Prefix}badge-padding-x: #{$Badge-padding-x};
  --#{$Prefix}badge-padding-y: #{$Badge-padding-y};
  --#{$Prefix}badge-font-size: #{$Badge-font-size};
  --#{$Prefix}badge-font-weight: #{$Badge-font-weight};
  --#{$Prefix}badge-color: #{$Badge-color};
  --#{$Prefix}badge-border-radius: #{$Badge-border-radius};

  display: inline-block;
  padding: var(--#{$Prefix}badge-padding-y) var(--#{$Prefix}badge-padding-x);

  //@include font-size($Badge-font-size);
  font-family: $Badge-font-family;
  font-size: var(--#{$Prefix}badge-font-size);
  font-weight: var(--#{$Prefix}badge-font-weight);
  line-height: 1;

  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  color: var(--#{$Prefix}badge-color);
  border-radius: var(--#{$Prefix}badge-border-radius, 0);
  @include Gradient-bg();

  // Partial Selectors
  // *= contain
  &[class*="light"] {
    color: $Badge-color-light;
  }

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }

  &.Badge-dot {
    position: absolute;

    width: $Badge-dot-size;
    height: $Badge-dot-size;
    min-width: 0;

    padding: $Badge-dot-padding;
    margin-left: $Badge-dot-margin-left;
    border-radius: $Badge-dot-border-radius;

    &:empty {
      display: inline-block;
    }
  }

  &.Badge-notification {
    position: absolute;

    font-size: $Badge-notification-font-size;

    padding: $Badge-notification-padding;
    margin-top: $Badge-notification-margin-top;
    margin-left: $Badge-notification-margin-left;
  }
}

// Quick fix for badges in buttons
.Btn .Badge {
  position: relative;
  top: -1px;
}
