/**
 * Components - Toasts
 *
*/
@use "sass:color";
@use "sass:math";

@use "../../Abstracts/config" as *;
@use "../../Abstracts/variables" as *;
@use "../../Abstracts/structural-variables" as *;

@use "../../Abstracts/Functions/Text-color/text-color" as *;
@use "../../Abstracts/Functions/color" as *;
@use "../../Abstracts/Mixins/border-radius" as *;


.Toast {
  --#{$Prefix}toast-color: #{$Toast-color};
  --#{$Prefix}toast-bg: #{$Toast-bg};

  --#{$Prefix}toast-border-color: #{$Toast-border-color};
  --#{$Prefix}toast-border-width: #{$Toast-border-width};
  --#{$Prefix}toast-border-radius: #{$Toast-border-radius};

  --#{$Prefix}toast-header-color: #{$Toast-header-color};
  --#{$Prefix}toast-header-bg: #{$Toast-header-bg};
  --#{$Prefix}toast-header-icon-color: #{$Toast-header-icon-color};

  --#{$Prefix}toast-font-size: #{$Toast-font-size};
  --#{$Prefix}toast-box-shadow: #{$Toast-box-shadow};

  position: relative;
  display: block;

  max-width: 100%;

  overflow: hidden;
  pointer-events: auto;

  color: var(--#{$Prefix}toast-color);
  background-color: var(--#{$Prefix}toast-bg);
  background-clip: padding-box;

  text-align: left;
  font-family: $Toast-font-family;
  font-size: var(--#{$Prefix}toast-font-size);

  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: $Toast-margin-bottom;

  border-left: 1px solid var(--#{$Prefix}toast-border-color);
  border-right: 1px solid var(--#{$Prefix}toast-border-color);
  @include Rounded(var(--#{$Prefix}toast-border-radius));

  box-shadow: var(--#{$Prefix}toast-box-shadow);

  &:not(.Show) {
    display: none;
  }

  .Toast-header {
    display: flex;
    align-items: center;

    color: var(--#{$Prefix}toast-header-color);
    background-color: var(--#{$Prefix}toast-header-bg);
    background-clip: padding-box;

    //border-bottom: 1px solid var(--#{$Prefix}toast-border-color);
    @include Rounded-top(calc(var(--#{$Prefix}toast-border-radius) - var(--#{$Prefix}toast-border-width)));

    padding: .125rem .75rem;

    .Toast-icon {
      color: var(--#{$Prefix}toast-header-icon-color);
      font-size: 160%;

      filter: $Toast-header-icon-drop-shadow;
      margin-right: .5rem;
    }

    .Btn-close {
      margin-right: -.25rem;
      margin-left: .75rem;

      width: .75em;
      height: .75em;
    }

  }

  .Toast-body {
    padding: .75rem;
    word-wrap: break-word;
  }

  .Progress {
    --#{$Prefix}progress-border-radius: 0;
    position: absolute;

    width: 100%;
    left: 0;
    bottom: 0;

    border: none;

    .Progress-bar {
      color: var(--#{$Prefix}toast-bg);
      background-color: var(--#{$Prefix}toast-border-color);
    }
  }
}

//
// Generate contextual modifier classes for colorizing the alert.
//
@each $key, $color in $Theme-colors {
  .Toast-#{$key} {
    //$fg-color: map.get($Theme-fg-colors, $key);
    //$opaque-header: Opaque(#fff, hsla(round(hue($color)), round(saturation($color)), round(lightness($color)), .22));
    $opaque-header: Opaque(#fff, hsla(
                    math.round(color.channel($color, "hue", $space: hsl)),
                    math.round(color.channel($color, "saturation", $space: hsl)),
                    math.round(color.channel($color, "lightness", $space: hsl)), .22
    ));
    //$opaque-body: Opaque(#fff, hsla(round(hue($color)), round(saturation($color)), round(lightness($color)), .11));
    $opaque-body: Opaque(#fff, hsla(
                    math.round(color.channel($color, "hue", $space: hsl)),
                    math.round(color.channel($color, "saturation", $space: hsl)),
                    math.round(color.channel($color, "lightness", $space: hsl)), .11
    ));

    --#{$Prefix}toast-bg: #{$opaque-body};
    --#{$Prefix}toast-color: #{Shade-color($color, 75%)};
    --#{$Prefix}toast-border-color: #{Tint-color($color, 50%)};

    --#{$Prefix}toast-header-bg: #{$opaque-header};
    --#{$Prefix}toast-header-color: #{Color-contrast($opaque-header)};
    --#{$Prefix}toast-header-icon-color: #{$color};

    .Btn-close {
      @if (color.channel($opaque-header, "lightness", $space: hsl) < 80) {
        filter: invert(1) grayscale(100%) brightness(200%);
      }
    }
  }
}
