//
// ------------------------------------------------------------------------
// Scrollbar mixins
// ------------------------------------------------------------------------
//

/*
::-webkit-scrollbar — the entire scrollbar.
::-webkit-scrollbar-button — the buttons on the scrollbar (arrows pointing upwards and downwards).
::-webkit-scrollbar-thumb — the draggable scrolling handle.
::-webkit-scrollbar-track — the track (progress bar) of the scrollbar.
::-webkit-scrollbar-track-piece — the part of the track (progress bar) not covered by the handle.
::-webkit-scrollbar-corner — the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
::-webkit-resizer — the draggable resizing handle that appears at the bottom corner of some elements.
*/

@mixin Scrollbar($name,$foreground) {
  .Scrollbar-#{to-lower-case($name)} {
    $foreground-color: $foreground;
    $background-color: mix(black, white, 01%);
    $shadow-inset-track: //
            0 0 1px 0 rgba(0, 0, 0, .16) inset,
            0 0 4px 0 rgba(0, 0, 0, .08) inset,
            0 0 8px 0 rgba(0, 0, 0, .04) inset;

    $shadow-inset-thumb: //
            0 0 2px 0 rgba(0, 0, 0, .12) inset,
            0 0 6px 0 rgba(0, 0, 0, .06) inset,
            0 0 10px 0 rgba(0, 0, 0, .03) inset;
    $width: .8rem;
    $radius: 3px;

    // For Google Chrome
    &::-webkit-scrollbar {
      border-radius: 0;
      width: $width;
      height: $width;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: $radius;
      background-clip: padding-box;
    }

    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }

    &::-webkit-scrollbar-track {
      //background: $background-color;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: $foreground-color;
        border: 1px solid darken($foreground-color, 15%);
        -webkit-box-shadow: $shadow-inset-thumb;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: $shadow-inset-track;
      }
    }

    //For Internet Explorer
    & {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }
}

// Scrollbar-width
@mixin Scrollbar-Width() {
  // For Google Chrome
  @each $key, $value in (1:1, 2:1.1, 3:1.2) {
    $width: #{$value}rem;

    .Scrollbar-#{$key} {
      &::-webkit-scrollbar {
        width: $width !important;
        height: $width !important;
      }
    }
  }
}

// Scrollbar border-radius
@mixin Scrollbar-Round() {
  // For Google Chrome
  $radius: .6rem ;

  .Scrollbar-rounded {
    &::-webkit-scrollbar {
      //border-radius: $radius;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: $radius;
    }

    &::-webkit-scrollbar-track {
      //border-radius: $radius;
    }
  }
}
