// ===========================================================================
// Components - Alert
// ST: With Specific Theme
// ===========================================================================

$component-Name: $var-Prefix + 'alert-';
@import "../_theme-customized";

.Alert {
  display: flex;
  position: relative;
  overflow: hidden;

  font-family: var(--ls-font);
  font-size: var(--ls-font-size);
  font-weight: var(--ls-font-weight);

  color: $fg-Darkest;
  background-color: $bg-Darkest;

  border: $Border;
  box-shadow: $Shadow;

  min-width: 250px;
  margin-bottom: .5rem;
  padding: .5rem;
  align-items: center;


  &.Alert-outline {
    color: $fg-Lightest;
    background-color: $bg-Lightest;

    //border: .125rem solid $bg-Darkest;
    border: 1px solid $bg-Darkest;
  }

  .Alert-icon {
    display: flex;
    font-size: medium;
  }

  .Alert-right {
    margin-left: auto;
    order: 2;

    span:first-child, small:first-child {
      position: absolute;
      font-size: 12px;
      top: .7rem;
      right: 2rem;
    }

    .Btn-close {
      position: absolute;
      top: .5rem;
      right: .5rem;
    }
  }

  .Alert-body {
    padding: .4rem;

    .Alert-heading {
      display: block;
    }
  }

  .Progress {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border: none;

    background-color: $bg-Lightest;

    .Progress-bar {
      background-color: $bg-Active;
    }
  }
}

