// ===========================================================================
// Components - Button Close
// ===========================================================================

/*
// With Svg bg
*/

$svg-cross-64: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MC40ODcgNjAuNDg3Ij48cGF0aCBkPSJNNyw1OC43MDhjLTEuOTQ0LDEuOTQ0LTQuNzExLDIuMzYtNi4xNDcuOTIzcy0xLjAyMi00LjIuOTIzLTYuMTQ4bDUxLjctNTEuN2MxLjk0NS0xLjk0NSw0LjcxMS0yLjM2LDYuMTQ4LS45MjNzMS4wMjEsNC4yLS45MjMsNi4xNDdaIi8+PHBhdGggZD0iTTEuNzc5LDdDLS4xNjYsNS4wNTktLjU4MSwyLjI5Mi44NTYuODU2UzUuMDU5LS4xNjYsNywxLjc3OWw1MS43MDUsNTEuN2MxLjk0NCwxLjk0NSwyLjM2LDQuNzExLjkyMyw2LjE0OHMtNC4yLDEuMDIxLTYuMTQ4LS45MjNaIi8+PC9zdmc+");
$svg-cross-2-64: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NCA2NCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6IzAxMDEwMTt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik01OS42ODQsNi4xMzJjMS4zNzYtMSw0LjUtMy4yMjIsNC4zMDgtMy42NjFDNjMuMDU2LjI5LDQ5LjM3MSw2Ljc2OCwzNC45LDE2LjUsMjIuODQ0LDMuNzIxLDkuNzYyLTQuODE1LDEuNDUyLDIuOTgzLTMuNzIyLDgsNS4xNyw4LjU3MywyNC4zMTksMjEuNjY5Yy41NjUuMzg2LDEuMTI1Ljc4MSwxLjY4MiwxLjE4QzguMzk0LDM2LjItNi42OTUsNTIuODA5LDMuMDc5LDYyLjU5MmM1LjE3NCw1LjAxNiw1Ljc2OC0zLjYsMTkuMjc5LTIyLjE2MkExMDkuNDksMTA5LjQ5LDAsMCwxLDMyLjg0NCwyOC4yQzQ3LjYxNCw0MC43MjYsNTguMTEsNTUuNzkzLDU5LjcwNiw1Ny44NDZjMS4wMzUsMS4zMzQsMy4zMjQsNC4zNTgsMy43NzcsNC4xNzYsMi45LTEuMTY5LTkuMDM0LTIyLjg1OC0yMy44NzYtNDAuMjYyQTIwMS43NTgsMjAxLjc1OCwwLDAsMSw1OS42ODQsNi4xMzJaIi8+PC9zdmc+");

.Btn-close {
  @extend .Svg-bg;
  --svg-icon: #{$svg-cross-64};

  display: inline-block;
  box-sizing: content-box;
  width: 1rem !important;
  height: 1rem !important;

  border: 0;
  border-radius: 0.25rem;
  padding: 0.25rem;
  opacity: 0.5;
  color: transparent;
  cursor: pointer;

  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.Btn-close-2nd {
  --svg-icon: #{$svg-cross-2-64};
}

/*
// Pure Css
// https://stackoverflow.com/questions/18611195/x-close-button-only-using-css (answer - 1)
*/

.Btn-close-pure {
  position: relative;
  width: 32px;
  height: 32px;

  border: 0;
  border-radius: 0.25rem;
  padding: 0.25rem;
  opacity: 0.5;
  color: inherit;
  background: transparent;
  cursor: pointer;
  vertical-align: middle;

  &:focus, &:hover {
    opacity: 1;
  }

  &:before, &:after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 10%;
    border-radius: 5px;
    background-color: currentColor;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
