// ===========================================================================
// Components - Calendar
// ST: With Specific Theme
// ===========================================================================

$component-Name: $var-Prefix + 'calendar-';
@import "../_theme-customized";

.Calendar {
  display: block;
  position: relative;
  overflow: hidden;

  font-family: var(--ls-font);
  font-size: var(--ls-font-size);
  font-weight: var(--ls-font-weight);

  color: $fg-Light;
  background-color: $bg-Light;

  border: $Border;
  box-shadow: $Shadow;

  margin-bottom: 1rem;

  .Calendar-header {
    display: flex;
    padding: 10px 10px 0;

    align-items: center; /* Vertical */
    justify-content: center; /* Horizontal */

    color: $fg-Darkest;
    background-color: $bg-Darkest;

    .Calendar-header-right {
      cursor: pointer;
      font-size: 1.5rem;
    }

    .Calendar-title {
      flex: 1;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .Calendar-body {
    padding: 0 10px 10px;

    .Calendar-row {
      display: flex;

      &:first-child {
        color: $fg-Dark;
        background-color: $bg-Dark;

        margin-left: -10px;
        margin-right: -10px;
      }

      .Calendar-dayNames {
        font-size: .8rem;
        border-bottom: $Border;
      }

      .Calendar-cell {
        border: 1px solid transparent;
        border-radius: 50%;

        &.Square {
          margin-left: 0;
          margin-right: 0;
        }

        &.Cell-Disabled {
          color: $fg-Muted;
        }

        &.Cell-Available {
          cursor: pointer;
          font-weight: normal;

          &:hover {
            border-color: $Border-color;

            color: $fg-Dark;
            background-color: $bg-Dark;
          }
        }

        &.Cell-Weekend {
          font-weight: bold;

          color: $fg-Muted;
        }

        &.Cell-Today {
          border-color: $Border-color;
          color: $fg-Active;
          background-color: $bg-Active;
        }

        //&.Cell-SpecialDay { }

        &.Cell-Available, &.Cell-Ranged {
          // Cell-selected = Cell-Range-start
          &.Cell-Range-start, &.Cell-Range-end {
            color: $fg-Darkest;
            background-color: $bg-Darkest;
          }
        }

        // Cell-selected = Cell-Range-start
        &.Cell-Ranged {
          border-radius: 0;

          &:not(.Cell-Range-start):not(.Cell-Range-end) {
            color: $fg-Lightest;
            background-color: $bg-Lightest;

            border-top-color: $Border-color;
            border-bottom-color: $Border-color;

            &.Cell-Available:hover {
              color: $fg-Dark;
              background-color: $bg-Dark;
            }
          }

          &.Cell-Range-start {
            border-radius: 50% 0 0 50%;
          }

          &.Cell-Range-end {
            border-radius: 0 50% 50% 0;
          }

          &.Cell-Range-start.Cell-Range-end {
            border-radius: 50%;
          }
        }
      }
    }
  }
}
