// ===========================================================================
// Components - Card
// ST: With Specific Theme
// ===========================================================================

$component-Name: $var-Prefix + 'card-';
@import "../_theme-customized";

.Card {
  display: block;
  position: relative;
  overflow: visible;

  font-family: var(--ls-font);
  font-size: var(--ls-font-size);
  font-weight: var(--ls-font-weight);

  color: $fg-Light;
  background-color: $bg-Light;

  border: $Border;
  box-shadow: $Shadow;

  padding: 0;
  margin-bottom: 1rem;
  border-radius: .5rem;
  min-width: 0;
  background-clip: border-box;

  .Card-img {
    position: relative;
    overflow: hidden;
  }

  .Card-header, .Card-footer {
    padding: .75rem 1.5rem;
    margin-bottom: 0;

    &.Card-header {
      color: $fg-Dark;
      background-color: $bg-Dark;

      border-bottom: $Border;

      :first-child {
        border-radius: calc(.5rem - 1px) calc(.5rem - 1px) 0 0;
      }
    }

    &.Card-footer {
      color: $fg-Lightest;
      background-color: $bg-Lightest;
      border-top: $Border;
    }
  }

  &.Card-body, .Card-body {
    flex: 1 1 auto;
    padding: 1rem 1.5rem;

    //color: $Component-fg-light;
    //background-color: $Component-bg-light;

    .Card-title {
      margin-bottom: .5rem;

      padding-left: .5rem;
      padding-right: .5rem;

      //background-color: $Component-bg-tertiary;
    }

    .Card-text {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
