// ===========================================================================
// Components - Dialog
// ST: With Specific Theme
// ===========================================================================

@import "../_theme-colors";

.Dialog-container {
  &.IsModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.4);

    padding-top: 10%;
    transition: opacity 0.15s linear;
  }
}

.Dialog {
  display: block;
  position: relative;
  overflow: hidden;

  font-family: var(--ls-font);
  font-size: var(--ls-font-size);
  font-weight: var(--ls-font-weight);

  color: $fg-Light;
  background-color: $bg-Light;

  border: $Border;
  box-shadow: $Shadow;

  max-width: 500px;
  margin-bottom: .5rem;
  align-items: center;

  margin-right: auto !important;
  margin-left: auto !important;

  .Dialog-right {
    margin-left: auto;
    order: 2;

    span:first-child, small:first-child {
      position: absolute;
      font-size: 12px;
      top: .7rem;
      right: 2rem;
    }

    .Btn-close {
      position: absolute;
      top: .5rem;
      right: .5rem;
    }
  }

  .Dialog-heading, .Dialog-footer {
    display: flex;
    padding: .5rem 1rem .5rem .5rem;

    &.Dialog-heading {
      color: $fg-Darkest;
      background-color: $bg-Darkest;
    }

    &.Dialog-footer {
      color: $fg-Lightest;
      background-color: $bg-Lightest;

      .Dialog-actions {
        margin-left: auto;
        order: 2;

        button {
          float: right;
          border: none;
          background: transparent;
        }
      }

    }
  }

  .Dialog-body {
    padding: .5rem;
    border-top: $Border;
    border-bottom: $Border;
  }
}
