// ===========================================================================
// Components - Loader
// CC: Core Components (NO COLOR or Theme)
// https://medium.com/@pppped/how-to-code-a-responsive-circular-percentage-chart-with-svg-and-css-3632f8cd7705
// ===========================================================================

// stroke-dasharray=”<dash-length>, <gap-length>”
//$svg-circle: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40' transform='rotate(-90)'%3E%3Ccircle cx='20' cy='20' r='15' fill='none' stroke='currentColor' stroke-width='10%25' /%3E%3C/svg%3E");

.Loader {
  display: flex;
  --status: '0%';
  --loaded: 0;

  .Square {
    .Square-inner {

      .Status {
        display: inline-block;
        position: absolute;

        &:before {
          content: var(--status, "0%");
        }
      }

      svg {
        width: 100%;
        height: auto;
        top: 0;
        left: 0;

        text {
          fill: currentColor;
          dominant-baseline: central;
          text-anchor: middle;
        }

        g {
          //transform-box: fill-box;
          transform-origin: center;
          transform: rotate(-90deg);
        }

        .circle {
          fill: none;
          stroke: currentColor;
          stroke-width: 3%;
          stroke-linecap: round;
          animation: loader-progress 1s ease-out forwards;

          &:first-of-type {
            stroke-dasharray: var(--loaded, 0), 100;
            transition: stroke-dasharray 0.4s cubic-bezier(0.04, 0.24, 0.18, 1);
          }
        }
      }
    }
  }
}

@keyframes loader-progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
