// ===========================================================================
// Components - Pagination
// TS: Theme Support
// ===========================================================================

@import "../_theme-colors";

.Pagination {
  display: flex;
  position: relative;
  overflow: hidden;

  font-family: var(--ls-font);
  font-size: var(--ls-font-size);
  font-weight: var(--ls-font-weight);

  color: $fg-Light;
  background-color: $bg-Light;

  .Square {
    user-select: none; /* Standard */

    //color: $Component-fg-secondary;
    //background-color: $Component-bg-secondary;

    border: 1px solid transparent;
    border-radius: $Border-radius;

    transition: border-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);

    &:nth-child(-n+2), &:nth-last-of-type(-n+2) {
      font-size: 1.3em;
    }

    &:not(.disabled):not(.active) {
      cursor: pointer;
    }

    &:hover:not(.active):not(.disabled) {
      text-decoration: none;
      border-color: $Border-color;

      color: $fg-Dark;
      background-color: $bg-Dark;
    }

    &.disabled {
      color: $fg-Muted;
    }

    &.active {
      color: $fg-Active;
      background-color: $bg-Active;

      border-color: transparent;

      box-shadow: $Shadow;
      transition: all 0.2s linear;
    }
  }
}

