// ===========================================================================
// Components - Progress
// TS: Theme Support
// ===========================================================================

@import "../_theme-colors";

.Progress {
  display: flex;
  position: relative;
  height: 1rem;

  font-family: var(--ls-font);
  font-size: var(--ls-font-size);
  font-weight: var(--ls-font-weight);

  color: $fg-Lightest;
  background-color: $bg-Lightest;

  border: $Border;
  box-shadow: $Shadow-inner;

  border-radius: $Border-radius;

  .Progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;

    color: $fg-Active;
    background-color: $bg-Active;

    transition: width .6s ease;
  }
}

/*
// Progress Striped
*/

.Progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

/*
// Progress Sizing
*/

@include Utility-applier(false, Progress, height, ('thin-3':.25rem, 'thin-2':.50rem, 'thin-1':.75rem, 'thick-1':1.25rem, 'thick-2':1.50rem, 'thick-3':1.75rem));

.Progress-thin-3, .Progress-thin-2, .Progress-thin-1,
.Progress-thick-1, .Progress-thick-2, .Progress-thick-3 {
}
