// ===========================================================================
// Components - Scrollbar / For Google Chrome
// TS: Theme Support
// ===========================================================================

@import "../_theme-colors";

.Scrollbar {
  $width: var(--scrollbar-width, .8rem);
  $radius: var(--scrollbar-radius, .2rem);

  &::-webkit-scrollbar {
    border-radius: 0;
    width: $width;
    height: $width;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $radius;
    background-clip: padding-box;

    background: $bg-Dark;
    border: 1px solid $Border-color;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background: $bg-Lightest;
    box-shadow: $Shadow-inner;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background: $bg-Darkest;
      //border: 1px solid $Border-color;
      //box-shadow: $Shadow-inner;
    }

    &::-webkit-scrollbar-track {
      //box-shadow: $Shadow-inner;
    }
  }

  //For Internet Explorer
  //& {
  //  scrollbar-face-color: $fg-Lightest;
  //  scrollbar-track-color: $bg-Lightest;
  //}
}

/*
::-webkit-scrollbar — the entire scrollbar.
::-webkit-scrollbar-button — the buttons on the scrollbar (arrows pointing upwards and downwards).
::-webkit-scrollbar-thumb — the draggable scrolling handle.
::-webkit-scrollbar-track — the track (progress bar) of the scrollbar.
::-webkit-scrollbar-track-piece — the part of the track (progress bar) not covered by the handle.
::-webkit-scrollbar-corner — the bottom corner of the scrollbar, where both horizontal and vertical scrollbars meet.
::-webkit-resizer — the draggable resizing handle that appears at the bottom corner of some elements.
*/

// ===========================================================================
// Scrollbar
// ===========================================================================

/*
// Scrollbar-rounded
*/

.Scrollbar-rounded {
  --scrollbar-radius: .6rem;
}

/*
// Scrollbar-width
*/

@each $key, $value in (2:1, 3:1.1) {
  .Scrollbar-#{$key} {
    --scrollbar-width: #{$value}rem;
  }
}

.Scrollbar-2, .Scrollbar-3 {
}
