// ===========================================================================
// Components - Timeline
// TS: Theme Support
// ===========================================================================

@import "../_theme-colors";

.Timer {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;

  font-family: var(--ls-font);
  font-size: var(--ls-font-size);
  font-weight: var(--ls-font-weight);

  color: $fg-Light;
  background-color: $bg-Light;

  border: $Border;
  box-shadow: $Shadow;

  min-height: 110px;
  padding: 5px 10px;
  margin-bottom: 10px;

  .Timer-header {
    flex-basis: 100%;
    margin: 0 0 5px;
    font-weight: bold;

    border-bottom: $Border;
  }

  .Timer-expired {
    display: flex;
    flex-basis: 100%;
    font-weight: bold;
    color: $fg-Light;

    align-items: center;
    justify-content: center;
  }

  .Square {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    border: $Border;
  }

  .Timer-divider:not(.Timer-canvas .Timer-divider) {
    margin-top: auto;
    margin-bottom: auto;
  }

  .Timer-divider {
    position: relative;
    width: 8%;
    margin: 2px -2px;

    span, div {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }
}

.Timer-svg {
  @extend .Loader;

  svg {
    .circle {
      &:first-of-type {
        stroke-dasharray: none !important;
      }
    }
  }

}