// ===========================================================================
// Components - Timeline
// TS: Theme Support
// ===========================================================================

@import "../_theme-colors";

.Timeline {
  display: block;
  position: relative;
  overflow: visible;

  font-family: var(--ls-font);
  font-size: var(--ls-font-size);
  font-weight: var(--ls-font-weight);

  color: $fg-Light;
  background-color: $bg-Light;

  border: $Border;
  box-shadow: $Shadow-inner;

  background-clip: border-box;
  padding: 0;
  margin-bottom: 1.5rem;
  min-width: 0;

  $badge-size: 32px;

  .Timeline-header {
    padding: 1rem;
    text-align: center;
  }

  .Timeline-item {
    position: relative;
    display: flex;
    overflow: visible;
    padding-right: 1rem;
    padding-left: 1rem;

    &:not(:last-child):after {
      position: absolute;
      content: " ";
      background-color: $Border-color;

      width: 3px;
      height: 100%;

      left: 1.9rem;
      right: auto;
      top: 50%;
    }

    .Timeline-badge {
      position: relative;
      display: flex;
      z-index: 1;

      align-items: center;

      .Timeline-badge-inner {
        position: relative;
        display: flex;
        width: $badge-size;
        height: $badge-size;

        color: $fg-Darkest;
        background-color: $bg-Darkest;

        border-radius: 50%;
        box-shadow: $Shadow-inner;
        margin-bottom: 1rem;

        * {
          display: block;
          margin: auto;
        }
      }
    }

    .Timeline-body {
      position: relative;
      min-width: 0;
      max-width: 100%;

      padding: 0;
      margin: 0 0 0 1.4rem;

      .Card {
        border-top: 1px solid $Border-color;

        .Card-img {
          overflow: hidden;
          margin: .5rem;
        }

        &.Card-horizontal {

          .Card-img {
            padding: .25rem;

            @media (min-width: 1014px) {
              margin-right: 0 !important;
            }
          }

        }

      }
    }

    &.Timeline-item-inverted {
      flex-direction: row-reverse;

      .Timeline-body {
        margin: 0 1.4rem 0 0;
      }
    }
  }

  @media (max-width: 767px) {
    .Timeline-item, .Timeline-item-inverted {
      width: 100%;
      padding-right: .25rem;
      padding-left: .25rem;

      &:not(:last-child):after {
        left: 1.2rem;
      }
    }
  }
}
