// ===========================================================================
// Utils - Border Radius
// ===========================================================================

/* Prevent background color leak outs // Doesnt work */
//.Rounded-clarify { background-clip: border-box; }

.Rounded-circle {
  border-radius: $border-radius-circle !important;
}

.Rounded-pill {
  border-radius: $border-radius-pill !important;
}

.Rounded-2 {
  --border-radius: #{$border-radius-2x};
}

.Rounded-3 {
  --border-radius: #{$border-radius-3x};
}

@include Rounded-builder($directions-map);

.Rounded, .Rounded-0,
.Rounded-t, .Rounded-t-0, .Rounded-r, .Rounded-r-0,
.Rounded-b, .Rounded-b-0, .Rounded-l, .Rounded-l-0,
.Rounded-tl-0, .Rounded-tr-0, .Rounded-br-0, .Rounded-bl-0 {
}