// ===========================================================================
// Shadow
// ===========================================================================

/*
  https://brumm.af/shadows
  https://tobiasahlin.com/blog/layered-smooth-box-shadows/
  https://css-tricks.com/getting-deep-into-shadows/
*/

/*
// Box Shadow
*/

@include box-shadow-Builder(null, 3, null, $boxShadow-vertical-1x, $boxShadow-blur-map-1x, null, $boxShadow-colors-1x);
@include box-shadow-Builder(2x, 3, null, $boxShadow-vertical-2x, $boxShadow-blur-map-2x, null, $boxShadow-colors-2x);
@include box-shadow-Builder(3x, 3, null, $boxShadow-vertical-3x, $boxShadow-blur-map-3x, null, $boxShadow-colors-3x);

.Shadow, .Shadow-inner, .Shadow-both, .Shadow-br, .Shadow-t, .Shadow-r, .Shadow-l, .Shadow-b, .Shadow-x, .Shadow-y,
.Shadow-2x, .Shadow-inner-2x, .Shadow-both-2x, .Shadow-br-2x, .Shadow-t-2x, .Shadow-r-2x, .Shadow-l-2x, .Shadow-b-2x, .Shadow-x-2x, .Shadow-y-2x,
.Shadow-3x, .Shadow-inner-3x, .Shadow-both-3x, .Shadow-br-3x, .Shadow-t-3x, .Shadow-r-3x, .Shadow-l-3x, .Shadow-b-3x, .Shadow-x-3x, .Shadow-y-3x {
}

/*
// Drop Shadow
*/

// drop-shadow(offset-x offset-y blur-radius color)

// usage:     filter: $drop-shadow-test;
$drop-shadow-br1px: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.2));


/*
// Experimental Shadow
*/

.Shadow-b-Lifted, .Shadow-b-Lifted-Spotlight {
  position: relative;

  &:before, &:after {
    z-index: -1;
    position: absolute;
    content: "";
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
  }
}

.Shadow-b-Lifted {

  &:before, &:after {
    bottom: 15px;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
  }

  &:after {
    right: 10px;
    left: auto;
    transform: rotate(3deg);
  }
}

.Shadow-b-Lifted-Spotlight {

  &:before, &:after {
    bottom: 25px;
    box-shadow: 0 35px 20px #777;
    transform: rotate(-8deg);
  }

  &:after {
    transform: rotate(8deg);
    right: 10px;
    left: auto;
  }
}

.Shadow-br-Lifted, .Shadow-bl-Lifted {
  position: relative;

  &:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(3deg);
  }
}

.Shadow-br-Lifted {

  &:after {
    right: 10px;
    left: auto;
  }
}

.Shadow-bl-Lifted {

  &:after {
    left: 10px;
  }
}
