// ===========================================================================
// Svg icons
// ===========================================================================

.Svg-bg {
  display: inline-block;
  color: inherit;

  background: var(--svg-icon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  background-clip: inherit;
}

.Svg-mask {
  display: inline-block;
  background-color: black;

  mask: var(--svg-icon);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  mask-clip: inherit;
}

$svg-heart-64: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NCA2NCI+PHBhdGggZD0iTTM0LjYyMyw1Ljg1N2wtMi42LDIuOTU2QzE1LjE4OS0xNC41NjUtMTEuMjIyLDE0LjQwNyw1LjE1MiwzMy40NTFjLjI5NS4zMzEsMjUuNjgzLDI5LjIsMjYuODcxLDMwLjU0OSwxLjMxNC0xLjQ4MywyNi40NjEtMzAuMDkzLDI2Ljg3MS0zMC41NUM3My45NjUsMTcuMDA4LDUyLjYtMTIuNiwzNC42MjMsNS44NTdaIi8+PC9zdmc+");
$svg-heart-outline-64: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2OCA2OS4wMiI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6bm9uZTtzdHJva2U6IzAwMDtzdHJva2UtbWl0ZXJsaW1pdDoxMDtzdHJva2Utd2lkdGg6NHB4O308L3N0eWxlPjwvZGVmcz48cGF0aCBjbGFzcz0iYSIgZD0iTTM2LjYyMyw3Ljg1N2wtMi42LDIuOTU2QzE3LjE4OS0xMi41NjUtOS4yMjIsMTYuNDA3LDcuMTUyLDM1LjQ1MWMuMjk1LjMzMSwyNS42ODMsMjkuMiwyNi44NzEsMzAuNTQ5LDEuMzE0LTEuNDgzLDI2LjQ2MS0zMC4wOTMsMjYuODcxLTMwLjU1Qzc1Ljk2NSwxOS4wMDgsNTQuNi0xMC42LDM2LjYyMyw3Ljg1N1oiLz48L3N2Zz4=");

$svg-star-64: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NCA2NCI+PHBvbHlnb24gcG9pbnRzPSIzMiAwIDM5LjU1NCAyNC40NDYgNjQgMjQuNDQ2IDQ0LjIyMyAzOS41NTQgNTEuNzc3IDY0IDMyIDQ4Ljg5MiAxMi4yMjMgNjQgMTkuNzc3IDM5LjU1NCAwIDI0LjQ0NiAyNC40NDYgMjQuNDQ2IDMyIDAiLz48L3N2Zz4=");
$svg-star-outline-64: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA3NS44MjUgNzYuMTYyIj48ZGVmcz48c3R5bGU+LmF7ZmlsbDpub25lO3N0cm9rZTojMDAwO3N0cm9rZS1taXRlcmxpbWl0OjEwO3N0cm9rZS13aWR0aDo0cHg7fTwvc3R5bGU+PC9kZWZzPjxwb2x5Z29uIGNsYXNzPSJhIiBwb2ludHM9IjM3LjkxMyA2Ljc3NCA0NS40NjcgMzEuMjIgNjkuOTEzIDMxLjIyIDUwLjEzNiA0Ni4zMjggNTcuNjkgNzAuNzc0IDM3LjkxMyA1NS42NjYgMTguMTM2IDcwLjc3NCAyNS42OSA0Ni4zMjggNS45MTMgMzEuMjIgMzAuMzU4IDMxLjIyIDM3LjkxMyA2Ljc3NCIvPjwvc3ZnPg==");

$svg-cross-64: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MC40ODcgNjAuNDg3Ij48cGF0aCBkPSJNNyw1OC43MDhjLTEuOTQ0LDEuOTQ0LTQuNzExLDIuMzYtNi4xNDcuOTIzcy0xLjAyMi00LjIuOTIzLTYuMTQ4bDUxLjctNTEuN2MxLjk0NS0xLjk0NSw0LjcxMS0yLjM2LDYuMTQ4LS45MjNzMS4wMjEsNC4yLS45MjMsNi4xNDdaIi8+PHBhdGggZD0iTTEuNzc5LDdDLS4xNjYsNS4wNTktLjU4MSwyLjI5Mi44NTYuODU2UzUuMDU5LS4xNjYsNywxLjc3OWw1MS43MDUsNTEuN2MxLjk0NCwxLjk0NSwyLjM2LDQuNzExLjkyMyw2LjE0OHMtNC4yLDEuMDIxLTYuMTQ4LS45MjNaIi8+PC9zdmc+");
$svg-cross-outline-64: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2OCA2OCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6bm9uZTtzdHJva2U6IzIzMWYyMDtzdHJva2UtbWl0ZXJsaW1pdDoxMDtzdHJva2Utd2lkdGg6NHB4O308L3N0eWxlPjwvZGVmcz48cGF0aCBjbGFzcz0iYSIgZD0iTTY0Ljg2NCwzLjEzNmEzLjg4LDMuODgsMCwwLDAtNS40ODcsMEwzNCwyOC41MTMsOC42MjMsMy4xMzZBMy44OCwzLjg4LDAsMCwwLDMuMTM2LDguNjIzTDI4LjUxMywzNCwzLjEzNiw1OS4zNzdhMy44OCwzLjg4LDAsMSwwLDUuNDg3LDUuNDg3TDM0LDM5LjQ4Nyw1OS4zNzcsNjQuODY0YTMuODgsMy44OCwwLDEsMCw1LjQ4Ny01LjQ4N0wzOS40ODcsMzQsNjQuODY0LDguNjIzQTMuODgsMy44OCwwLDAsMCw2NC44NjQsMy4xMzZaIi8+PC9zdmc+");

$svg-cross-2-64: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NCA2NCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6IzAxMDEwMTt9PC9zdHlsZT48L2RlZnM+PHBhdGggY2xhc3M9ImEiIGQ9Ik01OS42ODQsNi4xMzJjMS4zNzYtMSw0LjUtMy4yMjIsNC4zMDgtMy42NjFDNjMuMDU2LjI5LDQ5LjM3MSw2Ljc2OCwzNC45LDE2LjUsMjIuODQ0LDMuNzIxLDkuNzYyLTQuODE1LDEuNDUyLDIuOTgzLTMuNzIyLDgsNS4xNyw4LjU3MywyNC4zMTksMjEuNjY5Yy41NjUuMzg2LDEuMTI1Ljc4MSwxLjY4MiwxLjE4QzguMzk0LDM2LjItNi42OTUsNTIuODA5LDMuMDc5LDYyLjU5MmM1LjE3NCw1LjAxNiw1Ljc2OC0zLjYsMTkuMjc5LTIyLjE2MkExMDkuNDksMTA5LjQ5LDAsMCwxLDMyLjg0NCwyOC4yQzQ3LjYxNCw0MC43MjYsNTguMTEsNTUuNzkzLDU5LjcwNiw1Ny44NDZjMS4wMzUsMS4zMzQsMy4zMjQsNC4zNTgsMy43NzcsNC4xNzYsMi45LTEuMTY5LTkuMDM0LTIyLjg1OC0yMy44NzYtNDAuMjYyQTIwMS43NTgsMjAxLjc1OCwwLDAsMSw1OS42ODQsNi4xMzJaIi8+PC9zdmc+");
$svg-cross-2-outline-64: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2OCA2OCI+PGRlZnM+PHN0eWxlPi5he2ZpbGw6bm9uZTtzdHJva2U6IzIzMWYyMDtzdHJva2UtbWl0ZXJsaW1pdDoxMDtzdHJva2Utd2lkdGg6NHB4O308L3N0eWxlPjwvZGVmcz48cGF0aCBjbGFzcz0iYSIgZD0iTTYxLjY4NCw4LjEzMmMxLjM3Ni0xLDQuNS0zLjIyMiw0LjMwOC0zLjY2MS0uOTM2LTIuMTgxLTE0LjYyMSw0LjMtMjkuMSwxNC4wM0MyNC44NDQsNS43MjEsMTEuNzYyLTIuODE1LDMuNDUyLDQuOTgzLTEuNzIyLDEwLDcuMTcsMTAuNTczLDI2LjMxOSwyMy42NjljLjU2NS4zODYsMS4xMjUuNzgxLDEuNjgyLDEuMThDMTAuMzk0LDM4LjItNC42OTUsNTQuODA5LDUuMDc5LDY0LjU5MmM1LjE3NCw1LjAxNiw1Ljc2OC0zLjYsMTkuMjc5LTIyLjE2MkExMDkuMzg1LDEwOS4zODUsMCwwLDEsMzQuODQ0LDMwLjJDNDkuNjE0LDQyLjcyNiw2MC4xMSw1Ny43OTMsNjEuNzA2LDU5Ljg0NmMxLjAzNSwxLjMzNCwzLjMyNCw0LjM1OCwzLjc3Nyw0LjE3NiwyLjktMS4xNjktOS4wMzQtMjIuODU4LTIzLjg3Ni00MC4yNjJBMjAxLjc1OCwyMDEuNzU4LDAsMCwxLDYxLjY4NCw4LjEzMloiLz48L3N2Zz4=");

$icons-map: (
  // rating
        heart:$svg-heart-64,
        heart-outline:$svg-heart-outline-64,
        star:$svg-star-64,
        star-outline:$svg-star-outline-64,
  // btn-close
        cross:$svg-cross-64,
        cross-outline:$svg-cross-outline-64,
        cross-2:$svg-cross-2-64,
        cross-2-outline:$svg-cross-2-outline-64
);

@include Utility-applier(false, Svg, --svg-icon, $icons-map);

.Svg-heart, .Svg-heart-outline, .Svg-star, .Svg-star-outline,
.Svg-cross, .Svg-cross-outline, .Svg-cross-2, .Svg-cross-2-outline {
}
