// ===========================================================================
// Svg icons
// ===========================================================================

.Svg-bg {
  display: inline-block;
  color: inherit;

  background: var(--svg-icon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  background-clip: inherit;
}

.Svg-mask {
  display: inline-block;
  background-color: black;

  mask: var(--svg-icon);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  mask-clip: inherit;
}
