//https://primer.style/css/support/color-system
@import "blue";
@import "grey";
@import "green";
@import "orange";
@import "pink";
@import "purple";
@import "red";
@import "yellow";

$body-bg: $grey-600 !default;
// Colors
// ===========================================================================
$transparent: transparent !default;
$white: #fff !default;
$black: #000 !default;
$cyan: $blue-300 !default;

$colors: (
        "blue": $blue,
        "purple": $purple,
        "pink": $pink,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "cyan": $cyan,
        "white": $white,
        "grey": $grey-600,
        "grey-dark": $grey-800
) !default;
// ===========================================================================
// Theme Colors
// ===========================================================================
$primary: $blue !default;
$secondary: $grey-600 !default;
$success: $green !default;
$info: $blue-300 !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $grey-200 !default;
$dark: $grey-800 !default;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
) !default;

// ===========================================================================
// Retrieve color Sass maps
// ===========================================================================
@function color($key: "blue") {
  @return map-get($colors, $key);
}

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

@function grey($key: "100") {
  @return map-get($greys, $key);
}
// ===========================================================================
