$blue-000: #f1f8ff;
$blue-100: #dbedff;
$blue-200: #c8e1ff;
$blue-300: #79b8ff;
$blue-400: #2188ff;
$blue-500: #0366d6;
$blue-600: #005cc5;
$blue-700: #044289;
$blue-800: #032f62;
$blue-900: #05264c;

$blue: $blue-500 !default;

$blues: (
        "000": $blue-000,
        "100": $blue-100,
        "200": $blue-200,
        "300": $blue-300,
        "400": $blue-400,
        "500": $blue-500,
        "600": $blue-600,
        "700": $blue-700,
        "800": $blue-800,
        "900": $blue-900
) !default;
