$grey-000: #fafbfc;
$grey-100: #f6f8fa;
$grey-200: #e1e4e8;
$grey-300: #d1d5da;
$grey-400: #959da5;
$grey-500: #6a737d;
$grey-600: #586069;
$grey-700: #444d56;
$grey-800: #2f363d;
$grey-900: #24292e;

$grey: $grey-500 !default;

$greys: (
        "000": $grey-000,
        "100": $grey-100,
        "200": $grey-200,
        "300": $grey-300,
        "400": $grey-400,
        "500": $grey-500,
        "600": $grey-600,
        "700": $grey-700,
        "800": $grey-800,
        "900": $grey-900
) !default;
