$orange-000: #fff8f2;
$orange-100: #ffebda;
$orange-200: #ffd1ac;
$orange-300: #ffab70;
$orange-400: #fb8532;
$orange-500: #f66a0a;
$orange-600: #e36209;
$orange-700: #d15704;
$orange-800: #c24e00;
$orange-900: #a04100;

$orange: $orange-500 !default;

$oranges: (
        "000": $orange-000,
        "100": $orange-100,
        "200": $orange-200,
        "300": $orange-300,
        "400": $orange-400,
        "500": $orange-500,
        "600": $orange-600,
        "700": $orange-700,
        "800": $orange-800,
        "900": $orange-900
) !default;
