$purple-000: #f5f0ff;
$purple-100: #e6dcfd;
$purple-200: #d1bcf9;
$purple-300: #b392f0;
$purple-400: #8a63d2;
$purple-500: #6f42c1;
$purple-600: #5a32a3;
$purple-700: #4c2889;
$purple-800: #3a1d6e;
$purple-900: #29134e;

$purple: $purple-500 !default;

$purples: (
        "000": $purple-000,
        "100": $purple-100,
        "200": $purple-200,
        "300": $purple-300,
        "400": $purple-400,
        "500": $purple-500,
        "600": $purple-600,
        "700": $purple-700,
        "800": $purple-800,
        "900": $purple-900
) !default;
