$red-000: #ffeef0;
$red-100: #ffdce0;
$red-200: #fdaeb7;
$red-300: #f97583;
$red-400: #ea4a5a;
$red-500: #d73a49;
$red-600: #cb2431;
$red-700: #b31d28;
$red-800: #9e1c23;
$red-900: #86181d;

$red: $red-500 !default;

$reds: (
        "000": $red-000,
        "100": $red-100,
        "200": $red-200,
        "300": $red-300,
        "400": $red-400,
        "500": $red-500,
        "600": $red-600,
        "700": $red-700,
        "800": $red-800,
        "900": $red-900
) !default;
