$yellow-000: #fffdef;
$yellow-100: #fffbdd;
$yellow-200: #fff5b1;
$yellow-300: #ffea7f;
$yellow-400: #ffdf5d;
$yellow-500: #ffd33d;
$yellow-600: #f9c513;
$yellow-700: #dbab09;
$yellow-800: #b08800;
$yellow-900: #735c0f;

$yellow: $yellow-600 !default;

$yellows: (
        "000": $yellow-000,
        "100": $yellow-100,
        "200": $yellow-200,
        "300": $yellow-300,
        "400": $yellow-400,
        "500": $yellow-500,
        "600": $yellow-600,
        "700": $yellow-700,
        "800": $yellow-800,
        "900": $yellow-900
) !default;
