/*
// ===========================================================================
// Forms - Radio
// ===========================================================================
*/

@import "../_theme-colors";

.Form-check {

  [type="radio"] {
    /* Remove default checkbox */
    position: absolute;
    opacity: 0;
    pointer-events: none;

    + label, + span {
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      display: inline-block;
      height: 25px;
      line-height: 25px;
      font-size: 1rem;
      user-select: none;
      transition: .28s ease;

      &:before, &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px;
        width: 16px;
        height: 16px;
        z-index: 0;
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
        transition: .28s ease;
      }
    }

    &:not(:checked) {
      + label:before, + label:after, + span:before, + span:after {
        border-color: $Border-color;
      }

      + label:after, + span:after {
        z-index: -1;
        transform: scale(0);
      }
    }

    &:checked {
      + label:before, + span:before {
        border-color: transparent;
      }

      + label:after, + span:after {
        border-color: $bg-Active;
        background-color: $bg-Active;
        z-index: 0;
        transform: scale(1.02);
      }
    }

    &:disabled {

      + label, + span {
        color: $fg-Muted;

        &:before {
          background-color: transparent;
          border-color: $fg-Muted;
        }
      }

      &:not(:checked) + label:before, &:not(:checked) + span:before {
        border-color: $fg-Muted;
      }

      &:checked + label:after, &:checked + span:after {
        background-color: $fg-Muted;
        border-color: $fg-Muted;
      }

    }
  }

  // Radio With gap
  &[class*="With-gap"] {
    //&.Filled-in {
    [type="radio"] {
      + label:after, + span:after {
        transform: scale(.5);
      }

      &:not(:checked) {
        + label:before, + span:before {
          background-color: transparent;
          border-color: $Border-color;
        }
      }

      + label:before, + span:before {
        border-color: $bg-Active;
      }

      &:disabled {
        &:checked {
          + label:before, + span:before {
            border-color: $fg-Muted;
          }

          + label:after, + span:after {
            //border: none;
            background-color: $fg-Muted;
          }

        }
      }
    }
  }
}
