// ===========================================================================
// Functions - Breakpoints
// ===========================================================================

// Adding some margin from the original width - REM
@function Breakpoint-fixed-Rem($breakpoints, $margin) {
  $breakpoints-rem: ();
  @each $breakpointKey, $breakpointValue in $breakpoints {
    $val-rem-fixed: round($breakpointValue * $margin);

    $breakpoints-rem: map-merge($breakpoints-rem, ($breakpointKey: $val-rem-fixed));
  }
  @return $breakpoints-rem;
}

// Adding some margin from the original width - PIXEL
@function Breakpoint-fixed-Pixel($breakpoints, $margin) {
  $breakpoints-px: ();
  @each $breakpointKey, $breakpointValue in $breakpoints {
    $val-px-fixed: strip-unit(round($breakpointValue * $margin))  * 16px;

    $breakpoints-px: map-merge($breakpoints-px, ($breakpointKey: $val-px-fixed));
  }
  @return $breakpoints-px;
}
