// ===========================================================================
// Text
// ===========================================================================

/*
// Text-color
// from Utils\_utilities.scss
*/
/*
// Text-alpha
// from Utils\_utilities.scss
*/
/*
// Text-lightness-*
// from Utils\_utilities.scss
*/


.Txt-d {
  //text-decoration: #{var(--Txt-dl)} #{var(--Txt-ds)} #{var(--Txt-dc)};
  text-decoration-line: #{var(--Txt-dl)};
  text-decoration-style: #{var(--Txt-ds)};
  text-decoration-color: #{var(--Txt-dc)};
}

@include Utility-Operator(true, Txt-d, text-decoration, (none:none));

.Txt-d, .Txt-d-none {
}

/*
// text-decoration-line -dl-: none underline overline line-through blink
*/

@include Utility-Operator(false, Txt-dl, --Txt-dl, (under:underline));
@include Utility-Operator(false, Txt-dl, --Txt-dl, (over:overline));
@include Utility-Operator(false, Txt-dl, --Txt-dl, (through:line-through));
@include Utility-Operator(false, Txt-dl, --Txt-dl, (blink:blink));

@include Utility-Operator(false, Txt-dl, --Txt-dl, (under-over:underline overline));
@include Utility-Operator(false, Txt-dl, --Txt-dl, (under-over-through:overline underline line-through));

.Txt-dl-under, .Txt-dl-over, .Txt-dl-through, .Txt-dl-blink, .Txt-dl-under-over, .Txt-dl-under-over-through {
}

/*
// text-decoration-style -ds-: solid double dotted dashed wavy
*/

@include Utility-Operator(false, Txt-ds, --Txt-ds, (solid:solid, double:double, dotted:dotted, dashed:dashed, wavy:wavy));

.Txt-ds-solid, .Txt-ds-double, .Txt-ds-dotted, .Txt-ds-dashed, .Txt-ds-wavy {
}

/*
// text-decoration-color -dc-: theme-colors
*/

@include Utility-Operator(false, Txt-dc, --Txt-dc, $colors-theme);

.Txt-dc-primary, .Txt-dc-secondary, .Txt-dc-success, .Txt-dc-info, .Txt-dc-warning, .Txt-dc-danger, .Txt-dc-light, .Txt-dc-dark {
}
