// ===========================================================================
// Components - Toast
// ===========================================================================

.Toast {
  position: relative;
  color: $Toast-color;
  background-color: $Toast-bg;
  border: 1px solid $Toast-border-color;

  @include border-radius-Top($Toast-radius-width);

  font-family: $Toast-font-family;

  min-width: 300px;
  box-shadow: $Toast-shadow;
  margin-bottom: .5rem;

  .Toast-header {
    display: flex;
    background-color: darken($Toast-bg, 02%);
    border-bottom: 1px solid $Toast-border-color;
    padding: .4rem;
    align-items: center;

    @include border-radius-Top($Toast-radius-width);

    .Toast-icon {
      display: flex;
      font-size: medium;
      padding-right: .4rem;
    }

    .Toast-right {
      margin-left: auto;
      order: 2;

      span:first-child, small:first-child {
        vertical-align: top;
        padding-right: .2rem;
      }
    }
  }

  .Toast-body {
    background-color: $Toast-bg;
    padding: 1rem;
  }
}


@include Toast-Colors($colors-theme);

.Toast-primary, .Toast-secondary, .Toast-success, .Toast-info, .Toast-warning, .Toast-danger, .Toast-light, .Toast-dark {
}
