
$theme-Dark: (
        text-header: Shade(white, 01%),
        text: Shade(white, 09%),
        text-disabled: Shade(white, 35%),
        bg: Shade(white, 75%),
        bg-secondary: Shade(white, 65%),
        bg-tertiary: Shade(white, 55%),
        border: Shade(white, 85%),
        border-secondary: Shade(white, 75%),
        border-tertiary: Shade(white, 65%),
);

$theme-Night: (
        text-header: Shade(white, 01%),
        text: Shade(white, 09%),
        text-disabled: Shade(white, 35%),
        bg: Shade(white, 85%),
        bg-secondary: Shade(white, 75%),
        bg-tertiary: Shade(white, 65%),
        border: Shade(white, 95%),
        border-secondary: Shade(white, 85%),
        border-tertiary: Shade(white, 75%),
);

$theme-Light: (
        text-header: Shade(white, 99%),
        text: Shade(white, 91%),
        text-disabled: Shade(white, 35%),
        bg: $White,
        bg-secondary: Shade(white, 01%),
        bg-tertiary: Shade(white, 03%),
        border: Shade(white, 05%),
        border-secondary: Shade(white, 06%),
        border-tertiary: Shade(white, 10%),
);
