/*
Notes
 https://github.com/twbs/bootstrap/blob/main/scss/mixins/_breakpoints.scss

*/

@mixin default-Column-props {
  position: relative;
  width: 100%;
  min-height: 1px;
  //padding-right: 15px;
  //padding-left: 15px;
}

.Col-1, .Col-2, .Col-3, .Col-4, .Col-5, .Col-6, .Col-7, .Col-8, .Col-9, .Col-10, .Col-11, .Col-12 {
  @include default-Column-props;
}

.Offset-1, .Offset-2, .Offset-3, .Offset-4, .Offset-5, .Offset-6, .Offset-7, .Offset-8, .Offset-9, .Offset-10, .Offset-11 {
}

@media(min-width: 1024px) {
  .Col-h-1, .Col-h-2, .Col-h-3, .Col-h-4, .Col-h-5, .Col-h-6, .Col-h-7, .Col-h-8, .Col-h-9, .Col-h-10, .Col-h-11, .Col-h-12 {
    @include default-Column-props;
  }
  .Offset-h-0, .Offset-h-1, .Offset-h-2, .Offset-h-3, .Offset-h-4, .Offset-h-5, .Offset-h-6, .Offset-h-7, .Offset-h-8, .Offset-h-9, .Offset-h-10, .Offset-h-11 {
  }
}

@media(min-width: 1024px) {
  .Col-k-1, .Col-k-2, .Col-k-3, .Col-k-4, .Col-k-5, .Col-k-6, .Col-k-7, .Col-k-8, .Col-k-9, .Col-k-10, .Col-k-11, .Col-k-12 {
    @include default-Column-props;
  }
  .Offset-k-0, .Offset-k-1, .Offset-k-2, .Offset-k-3, .Offset-k-4, .Offset-k-5, .Offset-k-6, .Offset-k-7, .Offset-k-8, .Offset-k-9, .Offset-k-10, .Offset-k-11 {
  }
}

@media(min-width: 1920px) {
  .Col-2k-1, .Col-2k-2, .Col-2k-3, .Col-2k-4, .Col-2k-5, .Col-2k-6, .Col-2k-7, .Col-2k-8, .Col-2k-9, .Col-2k-10, .Col-2k-11, .Col-2k-12 {
    @include default-Column-props;
  }
  .Offset-2k-0, .Offset-2k-1, .Offset-2k-2, .Offset-2k-3, .Offset-2k-4, .Offset-2k-5, .Offset-2k-6, .Offset-2k-7, .Offset-2k-8, .Offset-2k-9, .Offset-2k-10, .Offset-2k-11 {
  }
}

@media(min-width: 3840px) {
  .Col-4k-1, .Col-4k-2, .Col-4k-3, .Col-4k-4, .Col-4k-5, .Col-4k-6, .Col-4k-7, .Col-4k-8, .Col-4k-9, .Col-4k-10, .Col-4k-11, .Col-4k-12 {
    @include default-Column-props;
  }
  .Offset-4k-0, .Offset-4k-1, .Offset-4k-2, .Offset-4k-3, .Offset-4k-4, .Offset-4k-5, .Offset-4k-6, .Offset-4k-7, .Offset-4k-8, .Offset-4k-9, .Offset-4k-10, .Offset-4k-11 {
  }
}

@media(min-width: 7680px) {
  .Col-8k-1, .Col-8k-2, .Col-8k-3, .Col-8k-4, .Col-8k-5, .Col-8k-6, .Col-8k-7, .Col-8k-8, .Col-8k-9, .Col-8k-10, .Col-8k-11, .Col-8k-12 {
    @include default-Column-props;
  }
  .Offset-8k-0, .Offset-8k-1, .Offset-8k-2, .Offset-8k-3, .Offset-8k-4, .Offset-8k-5, .Offset-8k-6, .Offset-8k-7, .Offset-8k-8, .Offset-8k-9, .Offset-8k-10, .Offset-8k-11 {
  }
}

@include GridColumns($grid-Columns, $grid-Breakpoints);

// tODO
.Col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}