/*
// ===========================================================================
// Forms
// ===========================================================================
*/
@import "Forms/checkboxes";
@import "Forms/input-fields";
@import "Forms/radio-buttons";
@import "Forms/selects";
@import "Forms/switches";

.Form-check {
  position: relative;
  display: block;
  padding-left: .25rem;
}

.Form-check-inline {
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}
