
/*#region Theme Variables */

/* Colors */
$bg-Body: var(--#{$component-Name}bg-body, var(--#{$var-Prefix}bg-body));
$fg-Muted: var(--#{$component-Name}fg-muted, var(--#{$var-Prefix}fg-muted));

$fg-Darkest: var(--#{$component-Name}fg-darkest, var(--#{$var-Prefix}fg-darkest));
$bg-Darkest: var(--#{$component-Name}bg-darkest, var(--#{$var-Prefix}bg-darkest));
$fg-Dark: var(--#{$component-Name}fg-dark, var(--#{$var-Prefix}fg-dark));
$bg-Dark: var(--#{$component-Name}bg-dark, var(--#{$var-Prefix}bg-dark));
$fg-Light: var(--#{$component-Name}fg-light, var(--#{$var-Prefix}fg-light));
$bg-Light: var(--#{$component-Name}bg-light, var(--#{$var-Prefix}bg-light));
$fg-Lightest: var(--#{$component-Name}fg-lightest, var(--#{$var-Prefix}fg-lightest));
$bg-Lightest: var(--#{$component-Name}bg-lightest, var(--#{$var-Prefix}bg-lightest));

$fg-Active: var(--#{$component-Name}fg-active, var(--#{$var-Prefix}fg-active));
$bg-Active: var(--#{$component-Name}bg-active, var(--#{$var-Prefix}bg-active));

/* Shadows */
$Shadow-color: var(--#{$component-Name}shadow-color, var(--#{$var-Prefix}shadow-color));
$Shadow: Colored-shadow($Shadow-color);
$Shadow-inner: Colored-shadow-inner($Shadow-color);

/* Border */
$Border-color: var(--#{$component-Name}border-color, var(--#{$var-Prefix}border-color));
$Border: 1px solid #{$Border-color};
$Border-radius: var(--#{$var-Prefix}border-radius);

/*#endregion */
