// ===========================================================================
// Base - Root
// ===========================================================================

:root {
  // Custom variable values only support SassScript inside `#{}`.
  /* Color palette */
  @each $colorKey, $colorValue in $colors-all {
    --#{$var-Prefix}#{to-lower-case($colorKey)}: #{$colorValue};
  }

  // Theme-light
  --ls-bg-body: #d1d9e0;
  --ls-bg-darkest: #e0e6eb;
  --ls-fg-darkest: black;
  --ls-bg-dark: #f0f2f5;
  --ls-fg-dark: black;
  --ls-bg-light: #f9fafb;
  --ls-fg-light: black;
  --ls-bg-lightest: white;
  --ls-fg-lightest: black;
  --ls-bg-active: #3692fc;
  --ls-fg-active: white;
  --ls-fg-muted: #a7afb9;
  --ls-shadow-color: 0, 0, 0;
  --ls-border-color: hsla(210deg, 20%, 90%, var(--ls-border-alpha, 1));

  // Others
  --ls-border-radius: #{$Rounded};

  /* Font */
  --ls-font: #{$font-family};
  --ls-font-size: #{$font-size-base};
  --ls-font-weight: normal;
}