// ===========================================================================
// Mixins - Container
// ===========================================================================

@mixin Make-container($gutter: $Container-padding-x) {
  --#{$Prefix}gutter-x: #{$gutter};
  --#{$Prefix}gutter-y: 0;

  width: 100%;

  padding-right: calc(var(--#{$Prefix}gutter-x) * .5);
  padding-left: calc(var(--#{$Prefix}gutter-x) * .5);

  margin-right: auto;
  margin-left: auto;
}