/*
// ===========================================================================
// Mixins - Utilities
// ===========================================================================
*/
@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

@use "../../Abstracts/config" as *;
@use "../../Abstracts/variables" as *;

@use "breakpoints" as *;

// Properties:	Required,  Values:	Required, ClassName:	Optional, Pseudo:	Optional,
// (Css-Var:	Optional, CSS-VarName:	Optional),  Local-CSS-Variables: Optional,
// Responsive:	Optional, Print:  Optional,

// Utility generator
// Used to generate utilities & print utilities
@mixin generate-Utility($utility, $infix) {
  $values: map.get($utility, Values);

  // If the values are a list or string, convert it into a map
  @if meta.type-of($values) == "string" or meta.type-of(list.nth($values, 1)) != "list" {
    $values: list.zip($values, $values);
  }

  $Properties: map.get($utility, Properties);

  // Multiple properties are possible, for example with vertical or horizontal margins or paddings
  @if meta.type-of($Properties) == "string" {
    $properties: list.append((), $Properties);
  }

  // Use custom class if present
  //$property-class: if(map.has-key($utility, Class), map.get($utility, Class), list.nth($Properties, 1));
  //$property-class: if($property-class == null, "", $property-class);
  $property-class: list.nth($Properties, 1);
  @if map.has-key($utility, Class) {
    $property-class: map.get($utility, Class);
  }
  @if $property-class == null {
    $property-class: "";
  }

  // deprecated: Use custom CSS variable name if present, otherwise default to `Class`
  //$CSS-VariableName: if(map.has-key($utility, CSS-VarName), map.get($utility, CSS-VarName), map.get($utility, Class));
  //$Is-Css-Var: map.get($utility, Css-Var);

  // Local CSS variable
  $Local-CSS-Variables: map.get($utility, Local-CSS-Variables);

  // State params to generate pseudo-classes
  //$Pseudo-Classes: if(map.has-key($utility, Pseudo), map.get($utility, Pseudo), ());
  $Pseudo-Classes: ();
  @if map.has-key($utility, Pseudo) {
    $Pseudo-Classes: map.get($utility, Pseudo);
  }

  //$Important: if(map.has-key($utility, Important), map.get($utility, Important), false);
  $Important: false;
  @if map.has-key($utility, Important) {
    $Important: map.get($utility, Important);
  }

  //$infix: if($property-class == "" and string.slice($infix, 1, 1) == "-", string.slice($infix, 2), $infix);
  @if $property-class == "" and string.slice($infix, 1, 1) == "-" {
    $infix: string.slice($infix, 2);
  }

  @each $key, $value in $values {

    // Don't prefix if value key is null (eg. with shadow class)
    //$property-class-modifier: if($key, if($property-class == "" and $infix == "", "", "-") + $key, "");
    $property-class-modifier: "";
    @if $key {
      @if $property-class == "" and $infix == "" {
        $property-class-modifier: "";
      } @else {
        $property-class-modifier: "-" + $key;
      }
    } @else {
      $property-class-modifier: "";
    }

    @if $value != null {

      //@if $Is-Css-Var {
      //  @if list.length($Pseudo-Classes) > 0 {
      //    @each $pseudo in $Pseudo-Classes {
      //      .#{$property-class + $infix + $property-class-modifier}-#{$pseudo}:#{$pseudo} {
      //        --#{$Prefix}#{$CSS-VariableName}: #{$value};
      //      }
      //    }
      //  } @else {
      //    .#{$property-class + $infix + $property-class-modifier} {
      //      --#{$Prefix}#{$CSS-VariableName}: #{$value};
      //    }
      //  }
      //} @else {

        @if list.length($Pseudo-Classes) > 0 {
          @each $pseudo in $Pseudo-Classes {
            .#{$property-class + $infix + $property-class-modifier}-#{$pseudo}:#{$pseudo} {
              @each $property in $Properties {
                //#{$property}: $value if($Important, !important, null);
                @if $Important {
                  #{$property}: #{$value} !important;
                } @else {
                  #{$property}: #{$value};
                }
              }
            }
          }
        } @else {
          $identifier: $property-class + $infix + $property-class-modifier;
          @if ($property-class == "") {
            $identifier: $key;
          }
          .#{$identifier} {
            @each $property in $Properties {
              @if $Local-CSS-Variables {
                @each $local-var, $variable in $Local-CSS-Variables {
                  --#{$Prefix}#{$local-var}: #{$variable};
                }
              }
              //#{$property}: $value if($Important, !important, null);
              @if $Important {
                #{$property}: #{$value} !important;
              } @else {
                #{$property}: #{$value};
              }
            }
          }
        }

      //}

    }
  }

}

// Loop over each breakpoint
@mixin responsive-Utilities($utilities, $breakpoints: $Grid-breakpoints) {
  // Loop over each breakpoint
  @each $breakpoint in map.keys($breakpoints) {

    // Generate media query if needed
    @include media-breakpoint-up($breakpoint) {
      //$infix: if(breakpoint-min($breakpoint, $breakpoints) == null, "", "-#{$breakpoint}");
      $infix: "-#{$breakpoint}";
      @if breakpoint-min($breakpoint, $breakpoints) == null {
        $infix: "";
      }

      // Loop over each utility property
      @each $key, $utility in $utilities {
        // The utility can be disabled with `false`, thus check if the utility is a map first
        // Only proceed if responsive media queries are enabled or if it's the base media query
        @if meta.type-of($utility) == "map" and (map.get($utility, Responsive) or $infix == "") {
          @include generate-Utility($utility, $infix);
        }
      }
    }
  }
}

// Print utilities
@mixin print-Utilities($utilities) {
  @media print {
    @each $key, $utility in $utilities {
      // The utility can be disabled with `false`, thus check if the utility is a map first
      // Then check if the utility needs print styles
      @if meta.type-of($utility) == "map" and map.get($utility, Print) == true {
        @include generate-Utility($utility, "-print");
      }
    }
  }
}

@mixin Utilities($utilities) {
  @include responsive-Utilities($utilities);
  @include print-Utilities($utilities);
}



