// ===========================================================================
// Variables
// ===========================================================================
/*@formatter:off*/
@import "Variables/colors";

/*
// Colors
*/

$colors: (
        "Red" : $Red,
        "Lime" : $Lime,
        "Blue" : $Blue,
        "Yellow" : $Yellow,
        "Cyan" : $Cyan,
        "Magenta" : $Magenta,
        "Purple" : $Purple,
        "Green" : $Green,
        "Maroon" : $Maroon,
        "Navy" : $Navy,
        "Teal" : $Teal,
        "Olive" : $Olive,
        "Orange" : $Orange,
        "Pink" : $Pink,
        "Brown" : $Brown,
        "Indigo" : $Indigo,
        "White" : $White,
        "Silver" : $Silver,
        "Gray" : $Gray,
) !default;

$colors-theme: (
        "Primary" : $Primary,
        "Secondary" : $Secondary,
        "Success" : $Success,
        "Info" : $Info,
        "Warning" : $Warning,
        "Danger" : $Danger,
        "Light" : $Light,
        "Dark" : $Dark
) !default;

$colors-all: map-merge($colors, $colors-theme);

/*
// Colors - Background &  Border & Text Colors
*/

$colors-bg-hsla: ();
$colors-border-hsla: ();
$colors-text-hsla: ();

@each $colorKey, $colorValue in $colors-all {
  $--border-Alpha: var(--border-Alpha, 1);

  $--bg-Alpha: var(--bg-Alpha, 1);
  $--text-Alpha: var(--text-Alpha, 1);

  $--bg-Lightness: var(--bg-Lightness, 1);
  $--text-Lightness: var(--text-Lightness, 1);

  $color-h: #{round(hue($colorValue))};
  $color-s: #{round(saturation($colorValue))};
  $color-l: #{round(lightness($colorValue))};

  // Lightness: 50%; Red Lime Blue Yellow Cyan Magenta Orange Gray // Lighten 50*1.9=95 - Darken 50*.8=40
  $hsla-bg: hsla($color-h, $color-s, calc(#{$color-l} * #{$--bg-Lightness}), #{$--bg-Alpha});
  $hsla-text: hsla($color-h, $color-s, calc(#{$color-l} * #{$--text-Lightness}), #{$--text-Alpha});
  $hsla-border: hsla($color-h, $color-s, $color-l, #{$--border-Alpha});

  $colors-bg-hsla: map-merge($colors-bg-hsla, (to-lower-case($colorKey): $hsla-bg));
  $colors-text-hsla: map-merge($colors-text-hsla, (to-lower-case($colorKey): $hsla-text));
  $colors-border-hsla: map-merge($colors-border-hsla, (to-lower-case($colorKey): $hsla-border));

  //$color-r: #{red($colorValue)};
  //$color-g: #{green($colorValue)};
  //$color-b: #{blue($colorValue)};
  //$rgb-bg: rgba(calc(#{$color-r} * #{$--bg-Lightness}), calc(#{$color-g} * #{$--bg-Lightness}), calc(#{$color-b} * #{$--bg-Lightness}), #{$--bg-Alpha});

  .Bg-#{to-lower-case($colorKey)} {
    --bg-Lightness: 1;
    --bg-Alpha: 1;
  }
  .Text-#{to-lower-case($colorKey)} {
    --text-Lightness: 1;
    --text-Alpha: 1;
  }
  .Border-#{to-lower-case($colorKey)} {
    --border-Alpha: 1;
  }
}

$variable-prefix: ls- !default; // Prefix for :root CSS variables

/*
// ===========================================================================
// Utils
// ===========================================================================
*/

$opacity-map: (0: 0, 10: .1, 20: .2, 30: .3, 40: .4, 50: .5, 60: .6, 70: .7, 80: .8, 90: .9, 100: 1) !default;
$color-lighten-map: (1:1.2, 2:1.4, 3:1.6, 4:1.8, 5:1.9) !default;
$color-darken-map: (1:.8, 2:.6, 3:.4, 4:.3, 5:.2) !default;
$color-alpha-map: (0: 0, 5: .05, 10: .1, 20: .2, 30: .3, 40: .4, 50: .5, 60: .6, 70: .7, 80: .8, 90: .9, 100: 1) !default;

$sizes-percents: (
        10:10%, 20:20%, 30:30%, 40:40%, 50:50%,
        60:60%, 70:70%, 80:80%, 90:90%, 100:100%,
        25:25%, 75:75%,
        33:33.333%, 66:66.666%,
        auto:auto
) !default;

/*
// Colors - Shade/Tint percentages  => .bg-*-d1-d5 .bg-*-l1-l5
*/

$color-Shade-percentages: (1:20%, 2:40%, 3:60%, 4:70%, 5:80%);
$color-Tint-percentages: (1:20%, 2:40%, 3:60%, 4:80%, 5:90%);

/*
// Border radius
*/

$border-radius: .25rem !default;
$border-radius-2x: .5rem !default;
$border-radius-3x: .75rem !default;
$border-radius-pill: 50rem !default;
$border-radius-circle: 50% !default;

/*
// Box Shadow
*/

// TODO:..
$Shadow-inset: 0 0 2px 0 rgba($Black, 0.09) inset,
0 0 8px 0 rgba($Black, 0.06) inset,
0 0 16px 0 rgba($Black, 0.03) inset;
$Shadow-inset-2x: 0 0 2px 0 rgba($Black, 0.16) inset,
0 0 8px 0 rgba($Black, 0.08) inset,
0 0 16px 0 rgba($Black, 0.04) inset;
$Shadow-inset-3x: 0 0 4px 0 rgba($Black, 0.24) inset,
0 0 8px 0 rgba($Black, 0.12) inset,
0 0 24px 0 rgba($Black, 0.06) inset;

$Shadow: 0 2px 2px 0 rgba($Black, 0.09),
0 8px 8px 0 rgba($Black, 0.06),
0 16px 16px 0 rgba($Black, 0.03);
$Shadow-2x: 0 2px 2px 0 rgba($Black, 0.16),
0 8px 8px 0 rgba($Black, 0.08),
0 16px 16px 0 rgba($Black, 0.04);
$Shadow-3x: 0 4px 4px 0 rgba($Black, 0.24),
0 8px 8px 0 rgba($Black, 0.12),
0 24px 24px 0 rgba($Black, 0.06);

$boxShadow-colors-1x: (1:rgba($Black, 0.09), 2:rgba($Black, 0.06), 3:rgba($Black, 0.03));
$boxShadow-colors-2x: (1:rgba($Black, 0.16), 2:rgba($Black, 0.08), 3:rgba($Black, 0.04));
$boxShadow-colors-3x: (1:rgba($Black, 0.24), 2:rgba($Black, 0.12), 3:rgba($Black, 0.06));
$boxShadow-vertical-1x: (1:02px, 2:08px, 3:16px);
$boxShadow-vertical-2x: $boxShadow-vertical-1x;
$boxShadow-vertical-3x: (1:04px, 2:08px, 3:24px);
$boxShadow-blur-map-1x: (1:02px, 2:08px, 3:16px);
$boxShadow-blur-map-2x: $boxShadow-blur-map-1x;
$boxShadow-blur-map-3x: (1:04px, 2:08px, 3:24px);


/*
// Spacing
*/

$spacer: 1rem !default; // 16px
$spacers-map: (
        0: 0,
        1: ($spacer * 0.25),
        2: ($spacer * 0.5),
        3: ($spacer * 1.00),
        4: ($spacer * 1.50),
        5: ($spacer * 3.00),
);

/*
// Spacing & Border & Border-radius
*/

$directions-map: (null: 0, T: top, R: right, B: bottom, L: left);

/*
// ===========================================================================
// Others
// ===========================================================================
*/

/*
// Typography
//
// Font, line-height, and color for body text, headings, and more.
*/

// TODO:..
$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-family: $font-family-sans-serif !default;
$font-size-base: 1rem !default; // 16px


/*
// Grid System
*/

$grid-Columns: 12;
$grid-correction-margin: 10px;
$grid-Breakpoints: (
        none: 0,
        h: (540px - $grid-correction-margin), // 640 x 480
        k: (1024px - $grid-correction-margin), // 1024 x 768 // 1280 x 720 // 1366 x 768
        '2k': (1920px - $grid-correction-margin), // 1920 x 1080: Full HD // 2560 x 1440 // 2560 x 1600 // 2048 x 1080: 2K (Digital Cinema)
        '4k': (3840px - $grid-correction-margin), // 3840 x 2160: 4K (UHD) // 4096 x 2160: 4K (Digital Cinema)
  //'8k': (7680px - $grid-correction-margin), // 7680 x 4320: 8K (UHD)
  //'10k': (10240px - $grid-correction-margin), // 10240 x 4320: 10K
  //'16k': (15360px - $grid-correction-margin), // 15360 x 8640: 16K (UHD)
  //'32k': (30720px - $grid-correction-margin) // 30720 x 17280
);


/*
// ===========================================================================
// Components
// ===========================================================================
*/

/*
// Components - Alerts
*/

$Alert-font-family: $font-family;
$Alert-shadow: $Shadow;

$Alert-color: $Black;
$Alert-bg: $White;
$Alert-border-color: darken($White, 10%);

/*
// Components - Progress bars
*/

$Progress-height: 1rem !default;
$Progress-font-size: $font-size-base * .75 !default;
$Progress-bg: $Gray-050 !default; // #f2f2f2
$Progress-border-radius: $border-radius !default;
$Progress-box-shadow: $Shadow-inset !default;

$Progress-bar-color: $White !default;
$Progress-bar-bg: $Primary !default;
$Progress-bar-animation-timing: 1s linear infinite !default;
$Progress-bar-transition: width .6s ease !default;

// Progress Sizing
$Progress-size-map: (
        'thin-3':.25rem,
        'thin-2':.50rem,
        'thin-1':.75rem,
        'thick-1':1.25rem,
        'thick-2':1.50rem,
        'thick-3':1.75rem,
);


/*
// Components - Toasts
*/

$Toast-font-family: $font-family;
$Toast-shadow: $Shadow;
$Toast-radius-width: .3rem;

$Toast-color: $Black;
$Toast-bg: $White;
$Toast-border-color: darken($White, 10%);

/*@formatter:on*/
