// ===========================================================================
// Utils - Utility Generic
// ===========================================================================

$utilities: (
  // Text
        "Text-lighten": (
                Prefix: Text-lighten, Property: --text-Lightness, Important: false,
                Values: $color-lighten-map
        ),
        "Text-darken": (
                Prefix: Text-darken, Property: --text-Lightness, Important: false,
                Values: $color-darken-map
        ),
        "Text-*": (
                Prefix: Text, Property: color, Important: true,
                Values: $colors-text-hsla
        ),
        "Text-alpha": (
                Prefix: Text-alpha, Property: --text-Alpha, Important: false,
                Values: $color-alpha-map
        ),
  // Bg
        "Bg-lighten": (
                Prefix: Bg-lighten, Property: --bg-Lightness, Important: false,
                Values: $color-lighten-map
        ),
        "Bg-darken": (
                Prefix: Bg-darken, Property: --bg-Lightness, Important: false,
                Values: $color-darken-map
        ),
        "Bg-*": (
                Prefix: Bg, Property: background-color, Important: true,
                Values: map-merge($colors-bg-hsla, ("transparent": transparent)),
        ),
        "Bg-alpha": (
                Prefix: Bg-alpha, Property: --bg-Alpha, Important: false,
                Values: $color-alpha-map),
  // Border
        "Border-*": (
                Prefix: Border, Property: border-color, Important: true,
                Values: map-merge($colors-border-hsla, ("transparent": transparent)),
        ),
        "Border-alpha": (
                Prefix: Border-alpha, Property: --border-Alpha, Important: false,
                Values: $color-alpha-map,
        ),
  // Opacity
        "Opacity": (
                Prefix: Opacity, Property: opacity, Important: true,
                Values: $opacity-map,
        ),
  // Cursor
        "Cursor": (
                Prefix: Cursor, Property: cursor, Important: true,
                Values: (
                        pointer: pointer,
                        help: help,
                        wait: wait,
                        grab: grab,
                        not-allowed: not-allowed,
                        zoom-in: zoom-in,
                        zoom-out: zoom-out,
                ),
        ),
  // Sizing
        "Sizing-Width": (
                Prefix: W, Property: width, Important: true, // TODO: Responsive: true,
                Values: $sizes-percents,
        ),
        "Sizing-Height": (
                Prefix: H, Property: height, Important: true, // TODO: Responsive: true,
                Values: $sizes-percents,
        ),
  // Display
        "Display": (
                Prefix: D, Property: display, Important: true, // TODO: Responsive: true,
                Values: inline inline-block block grid table table-row table-cell flex inline-flex none
        ),
);

